extends layout

block content 
    div
        div#page-header.bigger-page-header.darkwhite
            div.text-center.container
                h1 About
        div.padding-container
            div.container
                p.about-info
                    |Want to get something from your favorite local place but don't feel like going outside? Down to make money while walking back from a store?
                    |<br><br>At ontheway, we do, and we make this possible. ontheway harnesses the power of the community to make your lives convenient. We believe that our peer-to-peer delivery network will change the the way local deliveries are made.
                    |ontheway gives you the opportunity to get paid for making trips that you were going to make anyway, with little to no detours. Whenever you shop, visit, or even pass by local stores or restaurants, we notify you of any requests for items that lie on your way. 
                    |<br><br>Requesting, confirmation, and payment all occur within a single, easy-to-use app, so you never have to juggle between different apps, modes, or payment forms in order to make the transaction happen. Our goal is to make this process as smooth and simple as possible. 
                    |No more awkward interactions for either party - transaction finishes with one tap as soon as the items' price is confirmed.