extends layout

block content 
    div
        div#page-header.bigger-page-header.darkwhite
            div.text-center.container
                h1 About
        div.padding-container
            div.container
                p.about-info
                    |Ontheway is more than just a crowdsourced delivery platform. We harness the power of the 
                    |community to match requesters and deliverers as efficiently as possible. Other than manually accepting requests, 
                    |you will also automatically be offered matches for requests that are as ontheway and convenient 
                    |for you as possible.
                p.about-info
                    |We believe that this community- and technology- enabled network can change the way local deliveries are fulfilled. 
                    |No more awkward interactions for either party - transaction finishes with one tap.
            div.container 
                div.desc-section
                    h2 Paths
                    p.about-info 
                        |We've designed Paths to be a powerful tool to help you maximize profit/effort ratio for deliverers and
                        |order completion percentage for requesters. There are two ways you can set a Path:
                    ul.no-bullet
                        li.q-and-a-bullet-path
                            p 
                                |Manually set your Path. Tell everyone a place you know you'll be going in the near future, 
                                |and we'll keep that in mind when notifying you about new requests.
                        li.q-and-a-bullet-path 
                            p
                                |Claim an Order. If you don't yet have a Path, we'll automatically make a Path from your current location 
                                |-> the store location -> the delivery location. If you already have a Path, we'll automatically update 
                                |it to include the store location and the delivery location in the most optimal locations. 
                    p.about-info 
                        |If you're a deliverer, we'll automatically notify you when someone makes a delivery request that's ontheway 
                        |for your Path. If you're a requester, you can use the Paths map to see where deliverers around you are heading 
                        |in the near future and place your order based on those Paths to maximize the chance that your order gets claimed.
                div.desc-section
                    h2 Requesting
                    p.about-info
                        |We've designed the requesting process to be as simple and secure as possible. To make a request, simply let 
                        |us know what you want, where you want it delivered, when you want it, and how much you're willing to pay. 
                        |We'll automatically search for deliverers that are going to places near your store/delivery locations and notify them. 
                        |Once a deliverer claims your request, he/she will go to the store and purchase your items. You'll get a notification 
                        |once the deliverer has purchased the items and uploaded the receipt - at this point, we highly recommend you verify 
                        |that the price the deliverer entered matches the one of the receipt. Once the two of you meet up at the determined 
                        |delivery location, take the items from the deliverer and then mark the order as completed - we'll take care of all the payments for you!
                div.desc-section
                    h2 Delivering
                    p.about-info
                        |To be notified of orders that are ontheway for you, set a Path that lets us know where you'll be going in the 
                        |near future. If someone requests something that you could easily pick up ontheway, we'll notify you. Otherwise, 
                        |you can always look through available requests in your area to find something that's appealing. Once you've 
                        |accepted a request, make your way to the store and purchase the items requested. Be sure to move quickly, as 
                        |you want to do your best to deliver by the deadline! Once you've purchased the items, we highly recommend 
                        |uploading a picture of the receipt so that the requester can review it in advance. When you arrive at the delivery 
                        |location, hand over the items and make sure the requester marks the order as completed - once that happens, 
                        |we'll make sure you get the payment you deserve!
               