extends layout

block content 
    div
        div#page-header.bigger-page-header.darkwhite
            div.text-center.container
                h1 About
        div.padding-container
            div.container
                p.about-info
