extends layout

block content 
    div
        div.padding-container
            div.container-fluid.container-no-padding
                div.about-header-container
                    h2.about-header What We're All About
                 div.desc-section
                    div.about-section
                        i.inline.fa.fa-check-square
                        h1.inline.about-title Delivery Made Easy
                    p.about-info.text-center
                        |Ontheway creates a local community that enables anybody to make <i>paid deliveries</i> and 
                        |anybody to shop at any local stores from the comfort of their homes. 
                        |<span style="color: #d8433d; font-weight: 900;">It's really easy.</span>
                        |Just post a request describing what you need and someone nearby will pick it up for you. And if you're 
                        |out shopping, check for requests and make money ontheway home.
                    p.about-info.text-center
                        |Delivery has never been this convenient. Just one tap, and the entire transaction's
                        |good to go.
            div.container-fluid.container-no-padding.gray
                div.desc-section
                    div.container-fluid
                        div.about-section
                        div.row
                            div.col-md-4
                                img.about-image(src="images/pathssc.png")
                            div.col-md-8
                                h1.about-title Make Every Delivery Ontheway
                                p.about-info.with-pic
                                    |We've designed Paths, a powerful tool that helps you make every delivery on the way. Just tell us where you're
                                    |headed, and we'll notify you of new requests that are Ontheway. In the image, I'm setting a path from
                                    |my room to Starbucks and back. If there are any requests for coffee on campus, the app will let me know. 
                                    |There are two ways you can set a Path:
                                    ul.no-bullet
                                        li.q-and-a-bullet-path
                                            p 
                                                |Manually set your Path. Tell everyone a place you know you'll be going in the near future, 
                                                |and we'll notify you about requests Ontheway.
                                        li.q-and-a-bullet-path 
                                            p
                                                |Claim an Request. If you already have a Path, we'll automatically update 
                                                |it to include the store location and the delivery location. 
                                p.about-info.with-pic
                                    |The more items you deliver, the more money you make Ontheway. And you're probably making someone's life easier too.
                                    |Set those paths and get the most out of your time spent walking around!
                //- div.desc-section
                //-     h2 Requesting
                //-     p.about-info
                //-         |We've designed the requesting process to be as simple and secure. To make a request, just write down 
                //-         |what you want, where you want it delivered, when you want it, and how much you're willing to pay. 
                //-         |Once a deliverer claims your request, he/she will go to the store and purchase your items. You'll get a notification 
                //-         |once the deliverer has purchased the items and uploaded the receipt - at this point, we highly recommend you verify 
                //-         |that the price the deliverer entered matches the one of the receipt. Once the two of you meet up at the determined 
                //-         |delivery location, take the items from the deliverer and then mark the order as completed - we'll take care of all the payments for you!
                //- div.desc-section
                //-     h2 Delivering
                //-     p.about-info
                //-         |To be notified of orders that are ontheway for you, set a Path that lets us know where you'll be going in the 
                //-         |near future. If someone requests something that you could easily pick up ontheway, we'll notify you. Otherwise, 
                //-         |you can always look through available requests in your area to find something that's appealing. Once you've 
                //-         |accepted a request, make your way to the store and purchase the items requested. Once you've purchased the items, 
                //-         |we highly recommend 
                //-         |uploading a picture of the receipt so that the requester can review it in advance. When you arrive at the delivery 
                //-         |location, hand over the items and make sure the requester marks the order as completed - once that happens, 
                //-         |we'll make sure you get the payment you deserve!

               