extends layout

block content 
    div#contact-page 
        div#contact-header.white
            div.container.text-center
                h2.contact-main-head Ontheway Support <br>
                h4.contact-sub-head Feel free to contact us anytime with feedback, questions or concerns.
            div.social-media 
                a(href="https://facebook.com/onthewayapp")
                    i.fa.fa-facebook-square
                a(href="https://twitter.com/ontheway_app")           
                    i.fa.fa-twitter-square    
        div#contact-boxes.container
            div.row
                div.col-sm-6
                    div.contact-card.roundify
                        img(src="images/mail-icon.png")
                        h3.contact-card-text.support
                            a(href="mailto:contact@ontheway-app.com") contact@ontheway-app.com
                div.col-sm-6
                    div.contact-card.roundify
                        img(src="images/iphone-icon.png")
                        h3.contact-card-text.phone
                            p (347) 875-2804
            div.container-fluid.remove-padding
                div.row.marginauto
                    div.col-md-3.col-sm-6.remove-padding
                        div.contact-info
                            span.octicon.octicon-person.inline
                            h3.contact-name.inline Murad Mahmudov
                            div.info-list 
                                i.octicon.octicon-gear.inline
                                p#roleinfo.info-item Product 
                                i.octicon.octicon-mail.inline
                                p#emailinfo.info-item
                                    a(href="mailto:murad@ontheway-app.com") murad@ontheway-app.com
                                i.octicon.octicon-device-mobile.inline
                                p#phonenumber.info-item (347) 875-2804
                    div.col-md-3.col-sm-6.remove-padding
                        div.contact-info
                            span.octicon.octicon-person.inline
                            h3.contact-name.inline Victor Zhou
                            div.info-list 
                                i.octicon.octicon-gear.inline
                                p#roleinfo.info-item iOS Development
                                i.octicon.octicon-mail.inline
                                p#emailinfo.info-item
                                    a(href="mailto:victor@ontheway-app.com") victor@ontheway-app.com
                                i.octicon.octicon-device-mobile.inline
                                p#phonenumber.info-item (214) 843-5978
                    div.col-md-3.col-sm-6.remove-padding
                        div.contact-info
                            span.octicon.octicon-person.inline
                            h3.contact-name.inline Nathan Lam
                            div.info-list 
                                i.octicon.octicon-gear.inline
                                p#roleinfo.info-item Web Development
                                i.octicon.octicon-mail.inline
                                p#emailinfo.info-item
                                    a(href="mailto:nathan@ontheway-app.com") nathan@ontheway-app.com
                                i.octicon.octicon-device-mobile.inline
                                p#phonenumber.info-item (626) 678-3418
                    div.col-md-3.col-sm-6.remove-padding
                        div.contact-info
                            span.octicon.octicon-person.inline
                            h3.contact-name.inline Jason Jiang
                            div.info-list 
                                i.octicon.octicon-gear.inline
                                p#roleinfo.info-item Android Development
                                i.octicon.octicon-mail.inline
                                p#emailinfo.info-item
                                    a(href="mailto:jason@ontheway-app.com") jason@ontheway-app.com
                                i.octicon.octicon-device-mobile.inline
                                p#phonenumber.info-item (201) 704-8047
                    div.col-md-3.col-sm-6.remove-padding
                        div.contact-info
                            span.octicon.octicon-person.inline
                            h3.contact-name.inline Mina Para
                            div.info-list 
                                i.octicon.octicon-gear.inline
                                p#roleinfo.info-item Marketing
                                i.octicon.octicon-mail.inline
                                p#emailinfo.info-item
                                    a(href="mailto:mina@ontheway-app.com") mpara@princeton.edu
                                i.octicon.octicon-device-mobile.inline
                                p#phonenumber.info-item (207) 838-8139                    
                    div.col-md-3.col-sm-6.remove-padding
                        div.contact-info
                            span.octicon.octicon-person.inline
                            h3.contact-name.inline Max Greenwald
                            div.info-list 
                                i.octicon.octicon-gear.inline
                                p#roleinfo.info-item Strategy
                                i.octicon.octicon-mail.inline
                                p#emailinfo.info-item
                                    a(href="mailto:mina@ontheway-app.com") maxpg@princeton.edu
                                i.octicon.octicon-device-mobile.inline
                                p#phonenumber.info-item (303) 887-7689
                    div.col-md-3.col-sm-6.remove-padding
                        div.contact-info
                            span.octicon.octicon-person.inline
                            h3.contact-name.inline Savannah Du
                            div.info-list 
                                i.octicon.octicon-gear.inline
                                p#roleinfo.info-item Design
                                i.octicon.octicon-mail.inline
                                p#emailinfo.info-item
                                    a(href="mailto:savannah@ontheway-app.com") savannah@princeton.edu
                                i.octicon.octicon-device-mobile.inline
                                p#phonenumber.info-item (301) 802-0360
                    div.col-md-3.col-sm-6.remove-padding
                        div.contact-info
                            span.octicon.octicon-person.inline
                            h3.contact-name.inline Adam Grabowski
                            div.info-list 
                                i.octicon.octicon-gear.inline
                                p#roleinfo.info-item Operations 
                                i.octicon.octicon-mail.inline
                                p#emailinfo.info-item
                                    a(href="mailto:adam@ontheway-app.com") adammg@princeton.edu
                                i.octicon.octicon-device-mobile.inline
                                p#phonenumber.info-item (773) 474-9300
            p#faq-link.text-center You can also browse through our <a href="/faq">frequently asked questions</a>

