extends layout

block content 
    div#contact-page 
        div#contact-header.darkwhite
            div.container.text-center
                h2.contact-main-head Ontheway Support <br>
                h4.contact-sub-head Feel free to contact us anytime with feedback, questions or concerns.
            div.social-media 
                a(href="https://facebook.com")
                    i.fa.fa-facebook-square
                a(href="https://twitter.com")
                    i.fa.fa-twitter-square    
        div#contact-boxes.container
            div.row
                div.col-sm-6
                    div.contact-card.roundify
                        img(src="images/mail-icon.png")
                        h3.contact-card-text
                            a(href="mailto:support@ontheway-app.com") support@ontheway-app.com
                div.col-sm-6
                    div.contact-card.roundify
                        img(src="images/iphone-icon.png")
                        h3.contact-card-text
                            p (347) 875-2804
            p#faq-link.text-center You can also browse through our <a href="/faq">frequently asked questions</a>

