extends layout

block content 
    div
        div#page-header.darkwhite
            div.text-center.container
                h1 FAQ
        div
            div.container.q-and-a-box
                div.q-and-a
                    img.side-logo(src='images/corner-logo.png')
                    h2.question What is Ontheway?
                    p.answer 
                        |Ontheway is an app that connects people's local 
                        |requests with people who are heading in their direction 
                        |or are shopping at relevant stores. Ontheway is a network 
                        |that seeks to take advantage of such convenient coincidences. 
                        |Consumers will experience lower prices, while individuals who were 
                        |making the same trips anyway can squeeze out maximum value from their daily 
                        |activities.
                div.q-and-a
                    img.side-logo(src='images/corner-logo.png')                    
                    h2.question How does payment happen?
                    p.answer 
                        |Ontheway is an all-in-one app which you can 
                        |use to request, deliver, set your path, get matched, 
                        |track progress, navigate roads, pay for and get paid 
                        |for local items delivered. </br></br>
                        |No longer is there a need to juggle between apps, websites, 
                        |communication methods and payment forms to get what you want 
                        |or to easily deliver something that's ontheway. Everything is 
                        |handled within one app. It is simple, quick and easy.
                div.q-and-a
                    img.side-logo(src='images/corner-logo.png')                    
                    h2.question How do I deposit funds?
                    p.answer 
                        |Ontheway is an all-in-one app which you can 
                        |use to request, deliver, set your path, get matched, 
                        |track progress, navigate roads, pay for and get paid 
                        |for local items delivered.
                div.q-and-a
                    img.side-logo(src='images/corner-logo.png')                    
                    h2.question How do I withdraw funds?
                    p.answer 
                        |Ontheway is an all-in-one app which you can 
                        |use to request, deliver, set your path, get matched, 
                        |track progress, navigate roads, pay for and get paid 
                        |for local items delivered.
                div.q-and-a
                    img.side-logo(src='images/corner-logo.png')                    
                    h2.question How do Paths work?
                    p.answer 
                        |Ontheway is an all-in-one app which you can 
                        |use to request, deliver, set your path, get matched, 
                        |track progress, navigate roads, pay for and get paid 
                        |for local items delivered.
                div.q-and-a
                    img.side-logo(src='images/corner-logo.png')                    
                    h2.question How do I view Paths?
                    p.answer 
                        |Ontheway is an all-in-one app which you can 
                        |use to request, deliver, set your path, get matched, 
                        |track progress, navigate roads, pay for and get paid 
                        |for local items delivered.
                div.q-and-a
                    div.q-and-image          
                        img.side-logo(src='images/corner-logo.png')                    
                        h2.question How do I set my Path?
                        p.answer 
                            |Press the Add Path button in the top right corner of 
                            |the Paths tab (middle). Set your upcoming path with 
                            |a few simple taps. You will get matched with offers 
                            |for any new or existing requests that cause as little 
                            |detour for you as possible. 
                div.q-and-a
                    div.q-and-image
                        img.side-logo(src='images/corner-logo.png')                    
                        h2.question How do I browse local requests?
                        p.answer 
                            |The Requests tab (left) shows all the unclaimed requests 
                            |in the area. All Requests and all Paths are constantly 
                            |cross-examined by our algorithms to match local Requests 
                            |to Paths as quickly, efficiently and 'ontheway' as possible. 
                div.q-and-a
                    div.q-and-image     
                        img.side-logo(src='images/corner-logo.png')                    
                        h2.question How do I request a delivery?
                        p.answer 
                            |Press the Add Request button in the top right corner of 
                            |the Requests (left) tab. Describe what you want and where 
                            |you need it delivered. Your request will be sent to every 
                            |relevant local Path so it can get claimed as fast as possible. 
                div.q-and-a
                    div
                        div.q-and-a-text
                            img.side-logo(src='images/corner-logo.png')                             
                            h2.question Can I use this app to both post requests as well as make deliveries?
                            p.answer 
                                |The Requests tab (left) shows all the unclaimed requests 
                                |in the area. All Requests and all Paths are constantly 
                                |cross-examined by our algorithms to match local Requests 
                                |to Paths as quickly, efficiently and 'ontheway' as possible. 



