extends layout

block content 
    div
        div#page-header.darkwhite
            div.text-center.container
                h1 FAQ
        div
            div.container.q-and-a-box
                div.q-and-a
                    h2.question Q: How is the delivery price determined?
                    p.answer The person requesting the item is allowed to set the delivery price, so the deliverers can decide whether or not to take on an order.
                    h2.question Q: How is the delivery price determined?
                    p.answer The person requesting the item is allowed to set the delivery price, so the deliverers can decide whether or not to take on an order.
                    h2.question Q: How is the delivery price determined?
                    p.answer The person requesting the item is allowed to set the delivery price, so the deliverers can decide whether or not to take on an order.
                