extends layout

block content 
    div
        div#page-header.darkwhite
            div.text-center.container
                h1 FAQ
        div
            div.container.q-and-a-box
                div.q-and-a
                    h2.question Q: What happens if I get my money stolen?
                    p.answer You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh.
                div.q-and-a
                    h2.question Q: What happens if I get my money stolen?
                    p.answer You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh.
                div.q-and-a 
                    h2.question Q: What happens if I get my money stolen?
                    p.answer You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh.
                div.q-and-a
                    h2.question Q: What happens if I get my money stolen?
                    p.answer You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh.
                div.q-and-a
                    h2.question Q: What happens if I get my money stolen?
                    p.answer You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh. You pop a cap in his ass bruh.
