extends layout
block nav
        nav.navbar.navbar-default.non-diamond(role='navigation')
            div#nav-box
                div.navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#myNav')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.white(href='/')
                div.main-menu-container
                    ul#myNav.nav.navbar-nav.navbar-right.collapse.navbar-collapse.no-transition
                        li.nav-item
                            a.underline(href='/about') About
                        li.nav-item
                            a.underline(href='/faq') FAQ
                        //- li.nav-item
                        //-     a.underline(href='/terms') Terms
                        //- li.nav-item
                        //-     a.underline(href='/privacy') Privacy
                        li.nav-item
                            a.underline(href='/contact') Contact
                        li.nav-item.signup
                            a(href='/login') Log In
block content
    div.cover 
        div#element_to_pop_up
          a.b-close x 
          h1.header.larger Promotions!
          div.app-buttons.remove-padding-all
            a(href='https://itunes.apple.com/us/app/ontheway./id979445666?mt=8&uo=6&at=&ct=', target="_blank")
              img.download-button.apple(src="images/appledownload.svg", onerror="this.src='images/appledownload.png'")
            a(href='https://play.google.com/store/apps/details?id=innovations.enroute.jjiang.ontheway', target="_blank")
              img.download-button.android(src='images/androiddownload.png')
          h2.header.sub Download our App today and...
          ul.no-bullet
            li.q-and-a-bullet-normal
              p You make $2 for every friend you refer that makes a request or delivery. (Applies to all United States users)
            li.q-and-a-bullet-normal
              p Your first delivery is free. (Princeton area only)
            li.q-and-a-bullet-normal
              p If your delivery isn't claimed within 30 minutes, we will personally deliver it. 24/7. (Princeton area only)
        div.overlay
        div#particles-js 
        div.container.box
            img.wow.fadeInDown.logo(src="images/all-white-main-logo.png", data-wow-delay=".2s")
            hr.symbol.wow.fadeInUp
            div.headerText
                h2.sub-header.wow.fadeInUp(data-wow-delay=".4s") The world's first peer-to-peer delivery network.
                h3.sub-sub-header.wow.fadeInUp(data-wow-duration=".8s",data-wow-delay=".7s") Get paid for going where you're already going.
                h3.sub-sub-header.other-stuff.wow.fadeInUp(data-wow-duration=".8s",data-wow-delay="1s") No middlemen. No detours. 
                h3.sub-sub-header.no-cuts.wow.fadeInUp(data-wow-duration=".8s",data-wow-delay="1s")  No cuts.
                div.wow.fadeIn.app-buttons(data-wow-duration=".5s",data-wow-delay="1.3s")
                    a(href='https://itunes.apple.com/us/app/ontheway./id979445666?mt=8&uo=6&at=&ct=', target="_blank")
                        img.download-button.apple(src="images/appledownload.svg" onerror="this.src='images/appledownload.png'")
                    a(href='https://play.google.com/store/apps/details?id=innovations.enroute.jjiang.ontheway', target="_blank")
                        img.download-button.android(src='images/androiddownload.png')
    div.full-page.white 
        div#process
            div.container-fluid.remove-padding.process-container
                div.col-md-6.header.wow.fadeInLeft.remove-padding
                    h1.role-title Place an Order
                    div.steps.container-fluid.remove-padding
                        div.col-md-6.remove-padding
                            div.step-text.left.wow.fadeInLeft
                                h2 Add a Request
                                p 
                                    |Write a description of what you’re looking 
                                    |for and set a delivery fee.
                        div.col-md-6.remove-padding
                            div.example-image.wow.fadeInLeft
                                img(src='/images/sp1.png')
                    div.steps.diamonds.container-fluid.remove-padding
                        div.col-md-6.remove-padding
                            div.step-text.left.wow.fadeInLeft
                                h2 Verify the Receipt
                                p 
                                    |Review the receipt your deliverer uploads 
                                    |once the items are purchased.
                        div.col-md-6.remove-padding
                            div.example-image.wow.fadeInLeft
                                img(src='/images/sp2.png')
                    div.steps.container-fluid.remove-padding
                        div.col-md-6.remove-padding
                            div.step-text.left.wow.fadeInLeft
                                h2 Complete the Order
                                p 
                                    |One tap.<br>Easy.
                        div.col-md-6.remove-padding
                            div.example-image.wow.fadeInLeft
                                img(src='/images/sp3.png')
                div.col-md-6.header.wow.fadeInRight.remove-padding
                    h1.role-title Make a Delivery
                    div.border-image.steps.container-fluid.remove-padding
                        div.col-md-6.remove-padding.left-image
                            div.example-image.wow.fadeInRight
                                img(src='/images/sm1.png')
                        div.col-md-6.remove-padding.left-text
                            div.step-text.right.wow.fadeInRight
                                h2 Claim a Request
                                p 
                                    |Find a request that’s ontheway for you, 
                                    |or let us find one for you.
                    div.steps.diamonds.container-fluid.remove-padding
                        div.col-md-6.remove-padding.left-image
                            div.example-image.wow.fadeInRight
                                img(src='/images/sm2.png')
                        div.col-md-6.remove-padding.left-text
                            div.step-text.right.wow.fadeInRight
                                h2 Set Your Path
                                p 
                                    |Let other people know where you're headed
                                    |so that you can make more deliveries that
                                    |are ontheway. 
                    div.border-image.steps.container-fluid.remove-padding
                        div.col-md-6.remove-padding.left-image
                            div.example-image.wow.fadeInRight
                                img(src='/images/sm3.png')
                        div.col-md-6.remove-padding.left-text
                            div.step-text.right.wow.fadeInRight
                                h2 Get Paid
                                p 
                                    |Automatically.<br>Even easier.
    div.bottom-buttons.container-fluid.diamonds.remove-padding
      div.app-buttons.remove-padding-all
          a(href='https://itunes.apple.com/us/app/ontheway./id979445666?mt=8&uo=6&at=&ct=', target="_blank")
            img.download-button.apple(src="images/appledownload.svg", onerror="this.src='images/appledownload.png'")
          a(href='https://play.google.com/store/apps/details?id=innovations.enroute.jjiang.ontheway', target="_blank")
            img.download-button.android(src='images/androiddownload.png')                          
block script
    script(type='text/javascript', src='/javascripts/smoothscroll.js')
    script(type='text/javascript').
      $(document).ready(function() {
         setTimeout(function(){$('#element_to_pop_up').bPopup()}, 2000);
        });
        /* particlesJS('dom-id', params);
        /* @dom-id : set the html tag id [string, optional, default value : particles-js]
        /* @params: set the params [object, optional, default values : check particles.js] */
        function isiPhone(){
            return (
                //Detect iPhone
                (navigator.platform.indexOf("iPhone") != -1) ||
                //Detect iPod
                (navigator.platform.indexOf("iPod") != -1)
            );
        }
        if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
              $(".symbol").addClass("relative");
              $(".headerText").addClass("relative");
              $(".app-buttons").addClass("relative");
              $(".diamonds").addClass("relative");
              $(".role-title").addClass("relative");
        }
        if (navigator.userAgent.indexOf('Firefox') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
              $(".symbol").addClass("relative");
              $(".headerText").addClass("relative");
              $(".app-buttons").addClass("relative");
              $(".diamonds").addClass("relative");g
        }

        /* config dom id (optional) + config particles params */
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || isiPhone()) {
              $(".symbol").addClass("relative");
              $(".headerText").addClass("relative");
              $(".app-buttons").addClass("relative");
              $(".non-diamond").addClass("no-background");
              $(".non-diamond").addClass("fixed");
              $(".sub-sub-header").removeClass("no-cuts");
              particlesJS('particles-js', {
              particles: {
                color: '#fff',
                color_random: false,
                shape: 'circle', // "circle", "edge" or "triangle"
                opacity: {
                  opacity: 1,
                  anim: {
                    enable: true,
                    speed: 2,
                    opacity_min: 0,
                    sync: false
                  }
                },
                size: 1,
                size_random: true,
                nb: 30,
                line_linked: {
                  enable_auto: true,
                  distance: 100,
                  color: '#fff',
                  opacity: 1,
                  width: 1,
                  condensed_mode: {
                    enable: false,
                    rotateX: 600,
                    rotateY: 600
                  }
                },
                anim: {
                  enable: true,
                  speed: 1
                }
              },
              interactivity: {
                enable: true,
                mouse: {
                  distance: 100
                },
                detect_on: 'canvas', // "canvas" or "window"
                mode: "grab", // "grab" of false
                line_linked: {
                  opacity: .5
                },
                events: {
                  onclick: {
                    enable: true,
                    mode: 'push', // "push" or "remove"
                    nb: 4
                  },
                  onresize: {
                    enable: true,
                    mode: 'out', // "out" or "bounce"
                    density_auto: false,
                    density_area: 800 // nb_particles = particles.nb * (canvas width *  canvas height / 1000) / density_area
                  }
                }
              },
              /* Retina Display Support */
              retina_detect: false
            });
        }
        else {
          $(".navbar").removeClass("relative");
              new WOW().init();
              particlesJS('particles-js', {
              particles: {
                color: '#fff',
                color_random: false,
                shape: 'circle', // "circle", "edge" or "triangle"
                opacity: {
                  opacity: 1,
                  anim: {
                    enable: true,
                    speed: 2,
                    opacity_min: 0,
                    sync: false
                  }
                },
                size: 1,
                size_random: true,
                nb: 110,
                line_linked: {
                  enable_auto: true,
                  distance: 100,
                  color: '#fff',
                  opacity: 1,
                  width: 1,
                  condensed_mode: {
                    enable: false,
                    rotateX: 600,
                    rotateY: 600
                  }
                },
                anim: {
                  enable: true,
                  speed: 1
                }
              },
              interactivity: {
                enable: true,
                mouse: {
                  distance: 200
                },
                detect_on: 'canvas', // "canvas" or "window"
                mode: "grab", // "grab" of false
                line_linked: {
                  opacity: .5
                },
                events: {
                  onclick: {
                    enable: true,
                    mode: 'push', // "push" or "remove"
                    nb: 2
                  },
                  onresize: {
                    enable: true,
                    mode: 'out', // "out" or "bounce"
                    density_auto: false,
                    density_area: 800 // nb_particles = particles.nb * (canvas width *  canvas height / 1000) / density_area
                  }
                }
              },
              /* Retina Display Support */
              retina_detect: false
            });
        }
        
       

