extends layout

block content   
    div.cover.red
        div.container.box
            img.logo(src="images/main-logo.png")
            hr.symbol
            div.headerText
                h2.sub-header The world's first peer-to-peer delivery network.
                h3.sub-sub-header No middlemen. No markups. No commissions.
                h3.sub-sub-header You make all the profit.
                div.app-buttons
                    a(href='/', class='svg')
                        img.download-button.apple(src="images/appledownload.svg" onerror="this.src='images/appledownload.png'")
                    a(href='/')
                        img.download-button.android(src='images/androiddownload.png')
    div.full-page.white 
        div#process
            div.steps.container
                div.role.header
                    h1 Picking something up?
                div.col-md-4
                    h2 1. Browse Requests
                    p See what people are looking for
                    div.example-image
                        img(src='/images/placeholder1.png')
                div.col-md-4
                    h2 2. Click 'Go'
                    p Accept any nearby requests
                    div.example-image
                        img(src='/images/placeholder1.png')
                div.col-md-4
                    h2 3. Deliver
                    p Make money on the way
                    div.example-image
                        img(src='/images/placeholder1.png')
            div.steps.container
                div.role.header
                    h1 Need something?
                div.col-md-4
                    h2 1. Describe 
                    p Write a description of what you want
                    div.example-image
                        img(src='/images/placeholder1.png')
                div.col-md-4
                    h2 2. Set Your Location
                    p Let people know where to drop it off
                    div.example-image
                        img(src='/images/placeholder1.png')
                div.col-md-4
                    h2 3. Enjoy Your Delivery
                    p Quick, simple, and easy
                    div.example-image
                        img(src='/images/placeholder1.png')
    //- div#next
block script
    script(type='text/javascript', src='/javascripts/smoothscroll.js')
    script(type='text/javascript').
        function fadeIn($elts) {
          $elts.each(function() {
            var $this = $(this);
            if ($this.css('opacity') == 0 || !$this.is(':visible'))
              $this.fadeIn('slow');
          });
        }
        function fadeOut($elts) {
          $elts.each(function() {
            var $this = $(this);
            if ($this.css('opacity') == 1 || $this.is(':visible'))
              $this.fadeOut('fast');
          });
        }
        function displayNone($elts) {
          $elts.each(function() {
            var $this = $(this);
            if ($this.css('opacity') == 1 || $this.is(':visible'))
              $this.css('display', 'none');('fast');
          });
        }
        $(".download-btns").hover(function(){
            $(".download-text").css('display', 'none');
            $(".download-btns").css('padding', '0');
            fadeIn($(".windows-btn, a.mac-btn, #download-info"));
            },
            function(){  
                displayNone($(".windows-btn, a.mac-btn, #download-info"));
                $(".download-btns").css('padding-top', '10%');
                $(".download-btns").css('padding-bottom', '10%');
                $(".download-text").fadeIn('slow');
        });
        $(document).ready(function() {
            var logo = $('.logo');
            var main_head = $('.main-header');
            var sub_head = $('.sub-header');
            var linebreak = $('.symbol');
            var sub_sub_header = $('.sub-sub-header');
            var app_buttons = $('.app-buttons');
            $(logo).fadeTo(1500, 1);
            $(main_head).delay(400).fadeTo(1500, 1);
            $(linebreak).delay(800).fadeTo(1500, 1);
            $(sub_head).delay(800).fadeTo(1500, 1);
            $(sub_sub_header).delay(1200).fadeTo(1500, 1);
            $(app_buttons).delay(1200).fadeTo(1500, 1);
        });
       

