extends layout

block content   
    div.cover.red
        div.container.box
            img.wow.fadeInLeft.logo(src="images/main-logo.png")
            hr.symbol.wow.fadeIn
            div.headerText
                h2.sub-header.wow.fadeInRight(data-wow-delay=".5s") The world's first peer-to-peer delivery network.
                h3.sub-sub-header.wow.fadeIn(data-wow-duration="1.5s",data-wow-delay="1.2s") No middlemen. No markups. No commissions.
                h3.sub-sub-header.wow.fadeIn(data-wow-duration="1.5s",data-wow-delay="1.2s") You make all the profit.
                div.wow.fadeIn.pulse.app-buttons(data-wow-duration="1.5s",data-wow-delay="1.2s")
                    a(href='/')
                        img.download-button.apple(src="images/appledownload.svg" onerror="this.src='images/appledownload.png'")
                    a(href='/')
                        img.download-button.android(src='images/androiddownload.png')
    div.full-page.white 
        div#process
            div.steps.container
                div.role.header
                    h1 Picking something up?
                div.col-md-4
                    h2 1. Browse Requests
                    p See what people are looking for
                    div.example-image
                        img(src='/images/placeholder1.png')
                div.col-md-4
                    h2 2. Click 'Go'
                    p Accept any nearby requests
                    div.example-image
                        img(src='/images/placeholder1.png')
                div.col-md-4
                    h2 3. Deliver
                    p Make money on the way
                    div.example-image
                        img(src='/images/placeholder1.png')
            div.steps.container
                div.role.header
                    h1 Need something?
                div.col-md-4
                    h2 1. Describe 
                    p Write a description of what you want
                    div.example-image
                        img(src='/images/placeholder1.png')
                div.col-md-4
                    h2 2. Set Your Location
                    p Let people know where to drop it off
                    div.example-image 
                        img(src='/images/placeholder1.png')
                div.col-md-4
                    h2 3. Enjoy Your Delivery
                    p Quick, simple, and easy
                    div.example-image
                        img(src='/images/placeholder1.png')
block footer
    div#footer.white
        p.copyright © 2015 Enroute Innovations, LLC. All rights reserved.
block script
    script(type='text/javascript', src='/javascripts/smoothscroll.js')
    script(type='text/javascript').
        new WOW().init();
        
       

