extends layout

block content   
    div.cover
        div.container.box
            img.wow.fadeInDown.logo(src="images/all-white-main-logo.png")
            hr.symbol.wow.fadeInUp(data-wow-delay=".4s")
            div.headerText
                h2.sub-header.wow.fadeInUp(data-wow-delay=".4s") The world's first peer-to-peer delivery network.
                h3.sub-sub-header.wow.fadeInUp(data-wow-duration=".8s",data-wow-delay=".7s") No middlemen. No markups. No commissions.
                h3.sub-sub-header.wow.fadeInUp(data-wow-duration=".8s",data-wow-delay="1s") You make all the profit.
                div.wow.fadeIn.pulse.app-buttons(data-wow-duration=".5s",data-wow-delay="1.3s")
                    a(href='/')
                        img.download-button.apple(src="images/appledownload.svg" onerror="this.src='images/appledownload.png'")
                    a(href='/')
                        img.download-button.android(src='images/androiddownload.png')
    div.full-page.white 
        div#process
            div.container.padding
                div.col-md-6.header.wow.fadeInLeft
                    h1 Make a Delivery
                div.col-md-6.header.border-image.wow.fadeInRight
                    h1 Place an Order
            div.steps.container.container-no-padding
                div.col-md-6
                    div.step-text.wow.fadeInLeft
                        h2 Browse Requests
                        p 
                            |See what people are looking for.
                            |You just need to click the picture and figure out
                            |how it all works.
                    div.example-image.wow.fadeInLeft
                        img(src='/images/placeholder1.png')
                div.col-md-6.border-image
                    div.example-image.wow.fadeInRight
                        img(src='/images/placeholder1.png')
                    div.step-text.wow.fadeInRight
                        h2 Browse Requests
                        p 
                            |See what people are looking for.
                            |You just need to click the picture and figure out
                            |how it all works.
            div.steps-red-container.red
                div.steps.container.container-no-padding
                    div.col-md-6
                        div.step-text.wow.fadeInLeft
                            h2 Browse Requests
                            p 
                                |See what people are looking for.
                                |You just need to click the picture and figure out
                                |how it all works.
                        div.example-image.wow.fadeInLeft
                            img(src='/images/placeholder1.png')
                    div.col-md-6.border-image
                        div.example-image.wow.fadeInRight
                            img(src='/images/placeholder1.png')
                        div.step-text.wow.fadeInRight
                            h2 Browse Requests
                            p 
                                |See what people are looking for.
                                |You just need to click the picture and figure out
                                |how it all works.
            div.steps.last-steps.container.container-no-padding
                div.col-md-6
                    div.step-text.wow.fadeInLeft
                        h2 Browse Requests
                        p 
                            |See what people are looking for.
                            |You just need to click the picture and figure out
                            |how it all works.
                    div.example-image.wow.fadeInLeft
                        img(src='/images/placeholder1.png')
                div.col-md-6.border-image
                    div.example-image.wow.fadeInRight
                        img(src='/images/placeholder1.png')
                    div.step-text.wow.fadeInRight
                        h2 Browse Requests
                        p 
                            |See what people are looking for.
                            |You just need to click the picture and figure out
                            |how it all works.
block script
    script(type='text/javascript', src='/javascripts/smoothscroll.js')
    script(type='text/javascript').
        new WOW().init();
        
       

