doctype html
html
  head 
    title= title
    meta(name="apple-itunes-app", content="app-id=979445666")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification" content="J_AWSSGXHFratL3l1v1TVX5VRZzi9mNd1IUerKtwFSc")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/octicons/octicons.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')    
    block style
  body
    block nav
        nav.red.relative.navbar.navbar-default(role='navigation')
            div#nav-box
                div.navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#myNav')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/')
                div.main-menu-container
                    ul#myNav.nav.navbar-nav.navbar-right.collapse.navbar-collapse.no-transition
                        li.nav-item
                            a.underline(href='/faq') FAQ
                        li.nav-item
                            a.underline(href='/contact') Contact
    div#wrapper
        block content
        div#content
        block footer
            div#footer
                div.footer-nav
                    a(href='/') Home 
                    • 
                    a(href='/faq') FAQ 
                    • 
                    a(href='/terms') Terms 
                    •  
                    a(href='/privacy') Privacy 
                    •  
                    a(href='/contact') Contact 
                div.footer-social
                    a(href="https://facebook.com/onthewayapp")
                        i.fa.fa-facebook-square
                    a(href="https://twitter.com/ontheway_app")
                        i.fa.fa-twitter-square 
                div.footer-copyright
                    p © 2015 Enroute Innovations, LLC. All rights reserved.
  script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
  script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  script(type='text/javascript', src='javascripts/wow.min.js')
  script(type='text/javascript', src='javascripts/jquery.maskedinput.min.js')
  script(type='text/javascript', src='javascripts/jquery.numeric.min.js')
  script(type='text/javascript', src='//www.parsecdn.com/js/parse-1.4.0.min.js')
  script(type='text/javascript', src='javascripts/particles.min.js')
  script(type='text/javascript', src='javascripts/jquery.bpopup.min.js')
  script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62269890-1', 'auto');
      ga('send', 'pageview');

  script(type='text/javascript').
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || isiPhone()) {
        $(".diamonds.navbar").removeClass("relative");
        $(".diamonds.navbar").addClass("fixed");
        $("#page-header.bigger-page-header").addClass("mobile-header");
        $("#contact-header").addClass("mobile-contact-header");
        $(".inverted-logo").addClass("mobile-margin-top");
        $(".about-header-container").addClass("mobile-header");
        $(".index-about").removeClass("mobile-header");
        $(".faq-header-container").addClass("mobile-header");
    }
    Parse.initialize("zzxmLD2oQWhZZYG7fst95oV4gxRVUWC47dZAVTIT", "iPqBhzqkCZ1wxvFQAwGNr18LgEM7LnkUB7a1jfDu");
    $(document).ready(function() {
        if($(window).width() <= 767) {
            $('#uniqueNav').removeClass('signup');
        } else {
            $('#uniqueNav').addClass('signup');
        }
    });
    $(window).resize(function() {
        if($(window).width() <= 767) {
            $('#uniqueNav').removeClass('signup');
        } else {
            $('#uniqueNav').addClass('signup');
        }
    });

    
  block script