doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification" content="J_AWSSGXHFratL3l1v1TVX5VRZzi9mNd1IUerKtwFSc")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    block style
  body
    block nav
        nav.navbar.navbar-default(role='navigation')
            div#nav-box
                div.navbar-header
                    button(type='button', class="navbar-toggle collapsed", data-toggle='collapse', data-target='#myNav')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/')
                div.main-menu-container
                    ul#myNav.nav.navbar-nav.navbar-right.collapse.navbar-collapse
                        li.nav-item
                            a(href='/about') About
                        li.nav-item
                            a(href='/faq') FAQ
                        li.nav-item
                            a(href='/contact') Contact
                        li#uniqueNav.nav-item
                            a(href='/signup') Sign Up
                        
    div#page-wrapper
        block content
        div#footer.white
            p.copyright © 2015 Enroute Innovations, LLC. All rights reserved.
  script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
  script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  script(type='text/javascript').
    if($(window).width() <= 767) {
        $('#uniqueNav').removeClass('signup');
    } else {
        $('#uniqueNav').addClass('signup');
    }
  block script