extends layout

block content   
    div.cover
        div.container.box.inverted-logo
            img.visible.logo(src="images/inverted-logo.png")
            div.headerText
                h3.visible.temp-log.sub-sub-header Coming soon
                div.visible.app-buttons
                    a(href='/')
                        img.download-button.apple(src="images/appledownload.svg" onerror="this.src='images/appledownload.png'")
                    a(href='/')
                        img.download-button.android(src='images/androiddownload.png')