extends layout

block content 
    div
        div#page-header.darkwhite
            div.text-center.container
                h1 Privacy Policy
                p Last update: April 3, 2015
        div.padding-container
            div.container.terms-and-privacy
                p.terms-section We are committed to protecting your private information. This Privacy Policy Statement applies to <a href="http://www.ontheway-app.com">http://www.ontheway-app.com</a> and Enroute Innovations, LLC and governs collection and usage of data. For the purposes of this Privacy Policy Statement, unless otherwise noted, all references to Ontheway include <a href="http://www.ontheway-app.com">http://www.ontheway-app.com</a> and Enroute Innovations, LLC. The Ontheway website is a technology and communications network site. By using the Ontheway website or mobile/web applications, you consent to the data practices described in this statement.
                h4.terms-sub-header Information Collection
                p.terms-section We collect information volunteered by customers when the register and place orders on our applications and website. The information we collect through registration and order placement is used to provide the services specified on our website. Information regarding your computer or mobile device hardware and software may be automatically collected by Ontheway. This information can include but is not limited to: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain and improve quality of the service and to provide general statistics regarding use of the Ontheway website. These logs are used to enhance the technical performance of our website and applications. Ontheway encourages you to review the privacy statements of websites you choose to link to/from Ontheway, so that you can understand how those websites collect, use and share your information. Ontheway is not responsible for the privacy statements or other content on websites outside of the Ontheway website. Your passwords are SSL encrypted. We do not have access to your passwords. Your debit card, credit card and bank information data is SSL encrypted. We do not have access to that information. If you choose the “Remember me” function when using your debit/credit card, it will only be stored on your mobile device. Your mobile phone numbers are only available to deliverers for the duration of the delivery for communication purposes.
                h4.terms-sub-header Information Sharing
                p.terms-section Ontheway collects and uses some of your personal information to operate its website and enhance the services you have requested. In order to process your request, we will share the following information every time you place a request: request information and approximate delivery address. We do not use your name for the public request list. We do not use your username for the public request list. We do not use your phone number for the public request list. Your phone number and username would only be seen to an individual if/after the latter accepts your delivery request. Information such as room or apartment number would also never be public and only appear solely to the deliverer with your delivery in progress.
                h4.terms-sub-header Customer Communication
                p.terms-section Our customer service representatives may use your telephone number (SMS only) or e-mail address to notify you of the status of your order if appropriate. We do not share your information with any third parties, except with a deliverer that has accepted your request for the duration of the delivery.
                h4.terms-sub-header E-mail
                p.terms-section We do not purchase bulk e-mail addresses nor do we use the services of bulk e-mail companies for promoting service. This means we will not distribute, sell or rent your e-mail address to any third party whatsoever. Additionally, our e-mail servers do not relay e-mail destined for non-local domains.
                h4.terms-sub-header Cookies
                p.terms-section On our web version of the app, we use “cookies” (small text files stored in your internet browser) to enhance your ordering experience. Cookies allow our users to place requests faster and more efficiently by storing information such as your e-mail address. We do not use cookies to track your surfing habits and activities outside of our website. Cookies can be easily and safely deleted from your system. See your browser’s help section for instructions.
                h4.terms-sub-header Security Information
                p.terms-section We always use industry standard encryption technologies, such as 256-bit SSL encryption, when transferring and receiving private consumer data on our website and applications. This information can only be transferred once it’s received and encrypted by our secure servers. These secure servers help protect against the loss, misuse or alteration of information that we have collected from you through our website or applications.
                h4.terms-sub-header Children Under Thirteen
                p.terms-section Ontheway does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use our website and applications.
                h4.terms-sub-header Opting out of Emails & Unsubscribing
                p.terms-section We respect your privacy and give you an opportunity to opt out of receiving announcements of certain information. Users may opt out of receiving any or all communications from Ontheway by contacting us at <a href="http://www.ontheway-app.com/contact">http://www.ontheway-app.com/contact</a>.
                h4.terms-sub-header Policy Changes
                p.terms-section If our information practices change at some time in the future we will post the policy changes on our website to notify you of these changes and provide you with the ability to opt out of these new uses. If you are concerned about how your information is used, you should periodically check this section of our website.
                div.terms-footer
                    p.company-name Ontheway,
                    p.company-name Enroute Innovations, LLC
                    p.company-info Business Address: 3332 Neiman Road, Plano, Texas, USA, 75025
                    p.company-info Mailing Address: 2596 Frist Campus Center, Princeton University, Princeton, New Jersey, USA, 08540
                    p.company-info Email Address: support@ontheway-app.com
                    p.company-info Telephone Number: (347) 875-2804 
                    p.company-info Effective as of April 3, 2015
