extends layout

block content 
    div
        div#page-header.darkwhite
            div.text-center.container
                h1 Terms & Privacy
        div
            div.container.terms-and-privacy
        