@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');
@import url('fonts.css');



/*-------Global Classes--------*/

.no-background {
	background-color: rgba(0,0,0,0.5)!important;
}
 
.invisible {
	display: none;
}
#particles-js {
	position: absolute;
	left: 0;
	/*background:  rgb(205,51,51);*/
	background: no-repeat center center fixed url(../images/newbackground.jpg);
  	background-size: cover;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	height: 100vh;
  	width: 100%;
	top: 0;
	padding-bottom: 20px;
}
@media (max-width: 1168px) {
	#particles-js {
		max-height: 600px;
	}
}
@media (max-width: 768px) {
	#particles-js {
		max-height: 750px;
	}
}
@media (max-width: 637px) {
	#particles-js {
		max-height: 750px;
	}
}
@media (max-width: 605px) {
	#particles-js {
		max-height: 760px;
	}
}
@media (max-width: 425px) {
	#particles-js {
		max-height: 840px;
	}
}
.cover {
	font-family: 'lh_line1_sansthin'!important;
}
* {
	font-family: "sourcesanspro_light";
}
.lane-narrow {
	font-family: 'lane_narrowregular'!important
}
.noto_regular {
	font-family: "NotoSansRegular"!important;
}
.lh_line_font {
	font-family: 'lh_line1_sansthin'!important;
}
ul {
	list-style: none;
}
.relative {
	position: relative;
}
.contact-info .octicon {
	font-size: 1.5em;
	color: rgb(205,51,51);
	padding-right: 10px;
	position:absolute;
}
.inline {
	display: inline;

}
.fixed {
	position: fixed!important;
}
.relative {
	position: relative!important;
}
.container-no-padding {
	padding-left: 0;
	padding-right: 0;
}
html, body {
	margin:0;
	padding:0;
	height:100%;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: height 0.35s ease 1s linear;
  -moz-transition: height 0.35s ease 1s linear;
  -o-transition: height 0.35s ease 1s linear;
  -ms-transition: height 0.35s ease 1s linear;
  transition: height 0.35s ease 1s linear;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.navbar-toggle {
	margin-top: 12px;
	margin-bottom:  0px;
}
#page-header {
	width: 100%;
	position: inherit;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	color: #22313F;
	font-weight: 600;
}
#page-header.bigger-page-header {
	padding-top: 35px;
  	padding-bottom: 35px;
}
#page-header.bigger-page-header.mobile-header {
	padding-top: 95px;
  	padding-bottom: 35px;
}
#contact-header.mobile-contact-header {
	padding-top: 70px;
}
.inverted-logo.mobile-margin-top {
	padding-top: 26%;

}
#wrapper {
	position:relative;
	width: 100%;
	min-height: 100%;
}

#content {
	padding-bottom: 118px;
}
/*-------Footer CSS--------*/

#footer {
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 20px;
	border-top: 1px solid #eaeaea;
	background: #F9F9F9;
	overflow: auto;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer-nav {
	color: #a8a8a8;
	text-align: center;
	padding-top: 11px;
}

.footer-nav a {
	color: #a8a8a8;
	font-size: 1em;
}

.footer-nav a:hover {
	color: gray;
}

.footer-copyright {
	color: #a8a8a8;
	text-align: center;
	width: 100%;
	height: 100%;
	padding-bottom: 11px;
	margin: 0;
}

.footer-copyright p {
	padding: 0;
	margin: 0;
}

.footer-social a .fa-facebook-square {
	color: #54699A; 
	font-size: 1.75em;
	margin: 10px;
}
.footer-social a .fa-facebook-square:hover {
	color: #8b9dc3; 
}
.footer-social a .fa-twitter-square {
	color: #55acee; 
	font-size: 1.75em;
	margin: 10px;
}
.footer-social a .fa-twitter-square:hover {
	color: #79C2FA; 
}
.footer-social {
	text-align: center;
}
/*----------End------------*/



.symbol {
    padding: 0;
    border: none;
    border: thin double white;
    color: white;
    text-align: center;
    margin-left: 11%;
    margin-right: 11%;

}
.roundify {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}



hr.symbol:after {
	content: '•';
	display: inline;
	position: relative;
	top: -.69em;
	font-size: 2em;
	padding: 0 5px;
	/*background-color: rgb(205,51,51);*/
}

.text-center {
	text-align: center;
}

.box {
	width: 100%;
	padding-top: 70px;
	/*background-color: rgba(0,0,0,.2);*/
	min-height: 600px;
}

.cover {
	background: no-repeat left top url(../images/newbackground.png);
  	background-size: cover;
	height: 82%;
	min-height: 600px;
	color: white;
	/*background-color: rgba(0,0,0,.5);*/
}
.cover-mobile {
	background: no-repeat left top url(../images/mobile-background.png)!important;
}
#other-cover {
	color: black;
	background: none;
}
.red, .red.navbar {
	background-color: rgb(205,51,51);
}
.diamonds {
	background: top left no-repeat url(../images/background-overlay.jpg)!important;
	background-size: cover!important;
}
.white {
	background-color: #F9F9F9;
}
.gray {
	background-color: #F2F1EF;
}
.darkwhite {
	background-color: #DADFE1;
}

.fullpage {
	height: 100vh;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
/*----------End-----------*/

/*-------NavBar CSS-------*/

#nav-box {
	margin-left: 3%;
	margin-right: 1%;
	height: 100%;
}
#myNav {
	padding-top: 4px;
}
.navbar {
	border: none;
	height: 60px;
	width: 100%;
	margin: 0;
	border-radius: 0;
	z-index: 100;
	position: absolute;
	background: none;
}


.navbar-header {
	height: 100%;
}

.navbar .navbar-brand {
  background: url(../images/all-white-corner-logo.png) center no-repeat;
  background-size: 100%;
  width: auto;
  margin: 0;
  height: 100%;
  min-width: 52px;
}
.navbar .navbar-brand.white {
  background: url(../images/all-white-corner-logo.png) center no-repeat;
  background-size: 100%;
  width: auto;
  margin: 0;
  height: 100%;
  min-width: 52px;
}

.nav-item {
	 /*8px*/
	padding: 0;
	height: 100%;
}

.nav-item a.underline:hover {
	border-bottom: 2px solid white;
}

.navbar #myNav .nav-item a {
	color: white;
	font-size: 18px;
	padding-top: 16px;
	padding-bottom: 2px;
	margin: 0 5px;
	padding-left: 6px;
	padding-right: 6px;

}

 #myNav .nav-item#uniqueNav {
	border: 2px solid white;
	border-radius: 15px;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#myNav .nav-item#uniqueNav a{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 4px;
}
#uniqueNav:hover {
	background-color:;
}

#other-nav.navbar {
	position: absolute;
	background: none;

}

.navbar #myNav .signup{
	border: 2px solid white;
	color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 8px;
    margin-left: 5px;
    transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.navbar #myNav .signup a{
	padding: 6px 1px;
}
.signup:hover {
	background-color: #22313F!important;
	border: 2px solid #22313F;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px){
	.navbar #myNav .signup {
		border: none;
		padding-bottom: 10px;
	}
}
/*----------End-----------*/

/*-------Index CSS--------*/

.container-small, .container-large {
    max-width: 100%;
}
.path-small {
	font-size: 1.1em;
}
@media (min-width: 768px) {
    .container-small {
        width: 750px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 970px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 970px;
    }
}


.value-prop-in-threes {
	text-align: center;
	list-style-type: none;
	padding: 0;
}
.value-prop {
	max-width: 450px;
	margin: .5em auto;
}
.value-prop img {
	max-height: 100vh;
	max-width: 100%;
	display: block;
	margin: auto;
}
.value-prop h2 {
	font-size: 2em;
}
.value-prop p {
	height: 7rem;
}
@media (min-width: 768px) {
	.value-prop p {
		height: 10rem;
	}
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	.value-prop img {
		max-height: 80vh;
	}
	.value-prop p.about-info {
		height: 5rem;
		font-size: 1.3em;
		padding-top: 0;
	}

}
@media only screen and (min-device-width: 601px) and (min-width: 601px) {
	.value-prop img {
	  	max-height: auto;
	}
}
.box .logo {
	height: 30vh;
	position: relative;
	width: auto;
	display:block;
	margin: auto;
	min-height: 200px;
	max-height: 210px;
	/*z-index: 100;*/
}


.headerText-desktop {
	display: block;
  	text-align: center;
  	font-family: 'lh_line1_sansthin'!important;
  	width: 50%;
  	float: right;
  	padding-top: 3%;
}
.headerText-mobile {
	display:block;
	text-align: center;
    font-family: 'lh_line1_sansthin'!important;
}

.headerText h1 {
	margin-top:-15px;
	margin-bottom: 2%;
}

.main-header {
	margin-top: 0;
	text-align: center;
	font-size: 4em;
	margin-bottom: 5px;
}

.sub-header {
	font-size: 3.5em;
	margin-bottom: 1%;
	margin-top: 25px;
}

.sub-sub-header {
	font-size: 2.35em;
}

.about-header-container.index-about {
	padding-bottom: 10px;
}
.about-header.index-about {
	margin-bottom: 0px;
}
.app-buttons {
	padding-top: 50px;
}

.download-button {
	display: inline-block;
}
a.svg:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
a.svg {
  position: relative;
  display: inline-block;
}
.android {
	padding-bottom: 31px;
    margin-left: 50px;
    width: auto;
  	height: 90px;
}
.apple {
	padding-bottom: 31px;
	height: 86px;
  	width: auto;
}
/*----------End-----------*/

/*-----Content CSS--------*/
.steps .left-image {
	margin-left: 8px;
}
.steps .left-text {
	margin-left: -8px;
}
#process {
	padding-top: 10px;
}
.process-container {
	padding-top: 15px;
}
.remove-padding {
	padding-left: 0;
	padding-right: 0;
}
.steps.remove-padding,
.steps .remove-padding {
	margin-bottom: 30px;
	margin-top: 30px;
}
.example-image {
	width: 100%;
	max-width: 332px;
	margin-left:auto;
	margin-right:auto;
}
.example-image img {
	width: 100%;
}
.header {
	text-align: center;
	color: #22313F;
	padding-bottom: 20px;
	font-size: 1.3em;
}
.step-text.right {
	padding-left: 10px;
	padding-right: 60px;
}
.step-text.left {
	padding-left: 60px;
	padding-right: 10px;
}
.diamonds.steps {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.diamonds.steps  h2,
.diamonds.steps  p {
	color: white;
	padding-right:0;
	padding-left:0;
}
.steps {
	margin-bottom: 30px;
	width: 100%;
	margin-top: 40px;
}

.steps h2{
	color: #34495E;
	text-align: center;
	margin-top: 10px;
	font-size: 1.8em;
}
.steps p {
	font-size: 1.1em;
	text-align: center;
	color: #67809F;
}
.border-image {
	border-left: 1px solid #eaeaea;
}
.role-title {
	border-bottom: 1px solid #22313F;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 10px;
}
@media(max-width: 1200px) {
	.steps h2{
		color: #34495E;
		text-align: center;
		margin-top: 10px;
		font-size: 1.6em;
	}
	.step-text.right {
		padding-left: 0;
		padding-right: 0;
	}
	.step-text.left {
		padding-left: 0;
		padding-right: 0;
	}
	.steps p {
		font-size: 1em;
		text-align: center;
		color: #67809F;
	}
}
@media(max-width: 991px) {
	.example-image img{
		width: 65%;
		display: block;
		margin: auto;
	}
	.border-image {
		border-left: none;
	}
	.steps h2{
		color: #34495E;
		text-align: center;
		margin-top: 30px;
		font-size: 2em;
	}

	.steps p {
		font-size: 1.2em;
		text-align: center;
		color: #67809F;
	}

}

/*----------End-----------*/

/*--------Next CSS--------*/

#next {
	background-color: rgb(205,51,51);
	height: 100vh;
}

/*----------End-----------*/

/*-------Mobile CSS-------*/

@media(max-width: 767px) {
	#nav-box {
		margin: 0;
	}
	.navbar-nav {
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		background-color: rgba(0,0,0,0.7);
		padding: 0;
		margin-top: 0;
		width: 100%;
  		margin-left: 0px;
	}
	.navbar-nav:hover {
		background-color: rgba(0,0,0,0.9);
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
	}
	.nav-item a.underline:hover {
		border-bottom: none;
	}
	.nav-item a:hover {
		color: gray!important;
	}
	.box .logo {
		z-index: 0;
	}
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px){
	#uniqueNav {
		padding-bottom: 10px;
	}
	.contact-card img {
		height: 60px;
		vertical-align: middle;
	}
	.nav-item a.underline:hover {
		border-bottom: none;
	}
	.nav-item a:hover {
		color: gray!important;
	}
	.navbar-nav {
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		background-color: rgba(0,0,0,0.7);
		padding: 0;
		margin-top: 0;
	}

	.cover {
	  	background-size: cover;
		height: 10%!important;
		min-height: 500px!important;
		/*min-height: 600px!important;*/
	}
	.box {
		width: 100%;
		padding-top: 0;
		background: none;
		min-height: 500px!important;
	}
	#particles-js {
	  	max-height: 570px;

	}
	.cover .box .logo {
		height: 10vh;
		position: relative;
		width: auto;
		display:block;
		margin: auto;
		min-height: 150px;
	}
	.main-header {
		margin-top: 0;
		text-align: center;
		font-size: 3em!important;
		margin-bottom: 5px;
	}

	.sub-header {
		font-size: 2em!important;
		margin-bottom: 1%;
		margin-top: 25px;
	}

	.sub-sub-header {
		font-size: 1.5em!important;
		/*opacity: */0;
	}
	.headerText .app-buttons {
		padding-top: 16px!important;
	}
	.download-button.apple {
		height: 69px;
		padding-bottom: 28px;

	}
	.download-button.android {
		height: 68px;
		padding-bottom: 26px;
		margin-left: 25px;
	}


	#element_to_pop_up .download-button.apple {
		height: 69px;
		padding-bottom: 26px;
	}
	#element_to_pop_up .download-button.android {
		height: 68px;
		padding-bottom: 22px;
		margin-left: 25px;
	}
	#element_to_pop_up .q-and-a-bullet-normal {
		padding-left: 43px;
	}

	#element_to_pop_up .header {
		padding-bottom: 20px;
		font-size: 1.8em;
	}

	#element_to_pop_up p {
		font-size: .8em;
	} 

	#element_to_pop_up .header.sub {
		padding-bottom: 8px;
		font-size: 1.3em;

	}
	.steps h2 {
	  color: #34495E;
	  text-align: center;
	  margin-top: 30px;
	  font-size: 1.6em;
	}
	.steps p {
	  font-size: 1em;
	  text-align: center;
	}
	.diamonds.steps {
	  padding-top: 0;
	  padding-bottom: 0;
	}
	.navbar .navbar-brand.white {
		margin-left: 10px;
	}
	.navbar .navbar-brand {
		margin-left: 10px;
	}
	hr.symbol:after {
		content: '•';
		display: inline;
		position: relative;
		top: -0.697em;
		font-size: 2em;
		padding: 0 5px;
		/*background-color: rgb(205,51,51);*/
	}
	.example-image img{
		display: block;
		width: 45%;
		margin: auto;
	}
}

@media screen and (device-aspect-ratio: 40/71) {
	.contact-main-head {
		font-weight: 700;
		color: black;
		font-size: 2.3em!important;
	}

	.contact-card img {
		height: 50px!important;
		vertical-align: middle;
	}
	.contact-card a {
	  font-size: 15px!important;
	  margin-bottom: 4px;
	  display: block;
	}
	#contact-boxes .contact-card-text p {
		font-size: 18px;
	}
	.contact-sub-head {
		font-weight: 300;
		color: #4a4a4a;
		padding-bottom: 5px;
		line-height: 1.35;
		font-size: .9em!important;
		padding-top: 10px;
	}
	#contact-header {
		width: 100%;
		position: inherit;
		border-bottom: 1px solid #eaeaea;
		border-top: 1px solid #eaeaea;
	}
	#faq-link {
	    padding-top: 20px;
	}
	#footer {
		font-size:12px!important;
	}
	.terms-footer {
		line-height: 1!important;
		padding-top: 15px;
	}
	#particles-js {
	  	max-height: 600px;
	}
}


@media(max-width: 1136px) {
	.box {
		width: 100%;
		padding-top: 70px;
		/*background-color: rgba(0,0,0,.2);*/
		min-height: 600px;
	}
	.cover {
	  	background-size: cover;
		height: 60%;
		min-height: 600px;
	}
	.headerText-desktop {
		width: 40%;
	}
	.headerText-desktop .sub-header {
		font-size: 3em;
	}
	.headerText-desktop .sub-sub-header {
		font-size: 2em;
	}
	.android {
	  	padding-bottom: 31px;
	 	margin-left: 20px;
	  	width: auto;
	  	height: 82px;
	}
	.apple {
	  	padding-bottom: 31px;
	  	height: 80px;
	  	width: auto;
	}
}
@media(max-width: 958px) {

	.box {
		width: 100%;
		padding-top: 70px;
		/*background-color: rgba(0,0,0,.2);*/
		min-height: 500px;
	}
	.cover {
	  	background-size: cover;
		height: 60%;
		min-height: 500px;
	}
	.headerText-desktop {
		width: 40%;
	}
	
	.app-buttons {
		padding-top: 30px;
	}

}
@media(max-width: 920px) {
	.headerText-desktop {
		padding-top: 1%;
	}
	.headerText-desktop .sub-header {
		font-size: 2.8em;
	}
	.headerText-desktop .sub-sub-header {
		font-size: 1.8em;
	}
	.app-buttons {
		padding-top: 20px;
	}
	.android {
	  	padding-bottom: 31px;
	 	margin-left: 20px;
	  	width: auto;
	  	height: 75px;
	}
	.apple {
	  	padding-bottom: 31px;
	  	height: 75px;
	  	width: auto;

	}
}
@media(max-width: 800px) {
	.headerText-desktop {
		padding-top: 0;
	}
	.headerText-desktop .sub-header {
		font-size: 2.3em;
	}
	.headerText-desktop .sub-sub-header {
		font-size: 1.5em;
	}
	.android {
	  	padding-bottom: 31px;
	 	margin-left: 20px;
	  	width: auto;
	  	height: 70px;
	}
	.apple {
	  	padding-bottom: 31px;
	  	height: 70px;
	  	width: auto;

	}
}
@media(max-width: 768px) {
	.box {
		width: 100%;
		padding-top: 70px;
		/*background-color: rgba(0,0,0,.2);*/
		min-height: 400px;
	}
	.cover {
	  	background-size: cover;
		min-height: 400px;
	}
	.headerText-desktop {
		padding-top: 0;
		width: 45%;
	}
	.headerText-desktop .sub-header {
		margin-top: 0;
		font-size: 2.3em;
	}
	.headerText-desktop .sub-sub-header {
		font-size: 1.5em;
	}
	.android {
	  	padding-bottom: 31px;
	 	margin-left: 20px;
	  	width: auto;
	  	height: 70px;
	}
	.apple {
	  	padding-bottom: 31px;
	  	height: 70px;
	  	width: auto;

	}
} 
@media(max-width: 665px) {
	.box {
		width: 100%;
		padding-top: 70px;
		/*background-color: rgba(0,0,0,.2);*/
		min-height: 350px;
	}
	.cover {
	  	background-size: cover;
		min-height: 350px;
	}
	.headerText-desktop .sub-header {
		margin-top: 0;
		font-size: 2em;
	}
	.headerText-desktop .sub-sub-header {
		font-size: 1.3em;
	}
	.android {
	 	margin-left: 15px;
	  	height: 65px;
	}
	.apple {
	  	height: 65px;

	}
	.app-buttons {
		padding-top: 20px!important;
	}

}
@media(max-width: 630px) {
	.box {
		width: 100%;
		padding-top: 70px;
		/*background-color: rgba(0,0,0,.2);*/
		min-height: 300px;
	}
	.cover {
	  	background-size: cover;
		min-height: 300px;
	}
	.headerText-desktop .sub-header {
		margin-top: 0;
		font-size: 2em;
	}
	.headerText-desktop .sub-sub-header {
		margin-top: 15px;
		font-size: 1.3em;
		margin-bottom: 5px;
	}
	.android {
	 	margin-left: 15px;
	  	height: 65px;
	}
	.apple {
	  	height: 65px;

	}
	.app-buttons {
		padding-top: 10px!important;
	}

}
@media(max-width: 564px) {
	.box {
		width: 100%;
		padding-top: 70px;
		/*background-color: rgba(0,0,0,.2);*/
		min-height: 500px;
	}
	.cover {
	  	background-size: cover;
	  	background: no-repeat center center url(../images/mobile-bg.png);
		min-height: 500px;
	}
	.headerText-desktop {
		width: 100%;
		padding-top: 4%;
	}
	.headerText-desktop .sub-header {
		font-size: 3em;
		margin-bottom: 1%;
		margin-top: 10px;
	}

	.headerText-desktop .sub-sub-header {
		font-size: 2em;
	}
	.app-buttons {
		padding-top: 30px;
	}	
	.android {
		padding-bottom: 31px;
	    margin-left: 50px;
	    width: auto;
	  	height: 80px;
	}
	.apple {
		padding-bottom: 31px;
		height: 80px;
	  	width: auto;
	}
}
/*----------End-----------*/

/*------Contact CSS-------*/
.contact-collection {
	display:block;
	margin: auto;
}
.marginauto {
	margin-left: auto;
	margin-right: auto;
}
.contact-info {
	padding-top: 25px;
}
.contact-info .contact-name {
	font-size: 1.5em;
	padding-left: 20px;
} 
.contact-info .info-list p.info-item,
.contact-info .info-list .info-item a
 {
 	color:  #d8433d;
	font-size: 1.1em;
}
.contact-info .info-list p#roleinfo.info-item {
	color: black;
}
.info-list {
	margin-top: 5px;
	padding-left: 20px;
}
.info-item {
	padding-left: 30px;
	margin-bottom: 5px;
}
#contact-header {
	width: 100%;
	position: inherit;
	padding-top: 10px;
  	padding-bottom: 15px;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
}
.support {
	margin-bottom: 17px;
}
.phone.contact-card-text {
	font-size: 1.3em;
}
.contact-main-head {
	font-weight: 700;
    color: black;
    font-size: 3em;
}
.contact-sub-head {
	  font-weight: 300;
	  color: #4a4a4a;
	  padding-bottom: 5px;
	  line-height: 1.35;
	  font-size: 1.3em;
	  padding-top: 10px;
}
.social-media {
	text-align: center;
	font-size: 2.3em;
}
.social-media a i.fa-facebook-square {
	margin: 0 15px;
	color: #54699A; 
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.social-media a i.fa-facebook-square:hover {
	color: #8b9dc3; 
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.social-media a i.fa-twitter-square {
	margin: 0 15px;
	color: #55acee; 
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.social-media a i.fa-twitter-square:hover {
	color: #79C2FA; 
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
#contact-boxes {
	max-width: 960px;
	width: auto;
	padding-bottom: 10px;
	padding-top: 30px;
}

.contact-card {
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fffdfd;
    border: 1px solid #d8d8d8;
}

.contact-card img {
	height: 60px;
	vertical-align: middle;
}

.contact-card-text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 13px;
	font-size: 1.4em;
}

@media(max-width: 885px) {
	.contact-card a {
		font-size: 20px;
 	}
}
#contact-boxes a {
	color: #d8433d;
}
#contact-boxes .contact-card a {
	font-weight: 500;
	font-family: 'lane_narrowregular'!important
}
#faq-link {
	font-size: 1.3em;
	padding-top: 20px;
}

.contact-card .contact-card-text p {
	font-weight: 500;
	color: black;
	font-family: 'lane_narrowregular'!important
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	.contact-card img {
		height: 60px;
		vertical-align: middle;
	}
	.contact-card a {
		font-size: 19px;
 	}
}

/*----------End-----------*/

/*--------About CSS-------*/
.about-header-container {
	text-align:center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.about-header {
	color: #d8433d;
	font-size: 2.5em;
}

.about-section {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.about-section img.inline {
	padding-bottom: 10px;
  	padding-right: 10px;
}

.col-md-8 .about-title {
	margin-bottom: 10px;
	text-align: left;
}

.gray .about-section {
	margin-top: 40px;
}

.about-section .fa-check-square {
	padding-right: 20px;
	font-size: 2.1em;
	color: #d8433d;
}
.desc-image {
	width: 90%;
	height: auto;
	display: block;
	margin: auto;
}

.desc-section {
	padding-bottom: 10px;
}
.about-image {
	height: auto;
	width: 80%;
	display: block;
	margin: auto;
}

.about-title {
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: left;
	color: #d8433d;
}

.element-container {
	margin-top: 25px;
	margin-left: 10%;
	margin-right: 10%;
}


.about-info {
	font-size: 1.3em;
	line-height: 1.7;
	margin-left: 15%;
	margin-right: 15%;
}
.about-info.with-pic {
	font-size: 1.3em;
	margin: 0;
	text-align: center;
	padding-bottom: 30px;
}

.pathsImage {
	width: 100%;
  	height: 60px;
  	margin-top: 10px;
  	margin-bottom: 10px;
}
.about-sub-header {
	font-size: 1.8em;
	padding-top: 10px;
	text-align: center;
}
.desc-section .about-info {
	padding-top: 10px;
}


.desc-section.about-desc {
	padding-bottom: 10px;
}
.desc-section ul {
	padding-top: 10px;
}

.desc-section li {
	margin-right: 15%;
}

.with-pic {
	margin-left: 0;
}

.icon-step {
	padding-top: 20px;
	padding-bottom: 20px;
}
.icon-step .fa {
	display: block;
	text-align: center;
	color: #d8433d;
	font-size: 4em;
}
.about-header-container.mobile-header {
	padding-top:60px;
	padding-bottom: 10px;
}
@media(max-width: 991px) {
	.desc-section .about-image {
		width: 25%;
		margin-left:auto;
		margin-right: auto;
	}
	.desc-image {
		width: 50%;
		min-width: 250px;
	}
	.col-md-8 .about-title {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.about-info.with-pic {
		margin-left: 6.7%;
		margin-right: 6.7%;
	}
}
@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	.about-header {
		font-size: 2em;
	}
	.about-section {
	  	margin-top: 5px;
	  	margin-bottom: 5px;
	}
	.about-section .fa-check-square {
	  	padding-right: 20px;
	  	font-size: 1.5em;
	  	color: #d8433d;
	}
	.desc-section .about-image {
		width: 40%;
		margin-left:auto;
		margin-right: auto;
	}
	.desc-section {
		padding-bottom: 10px;
	}
	.gray .about-section {
		margin-top: 20px;
	}
	.col-md-8 .about-title {
	  	padding-top: 20px;
	  	padding-bottom: 0px;
	  	margin-bottom: 0px;
	}
	.about-info {
		font-size: .9em;
		margin-left: 6.7%;
		margin-right: 6.7%;
	}
	.icon-step {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.icon-step .fa {
		font-size: 3em;
	}

}

/*----------End-----------*/

/*--------FAQ CSS--------*/
.faq-sub-section {
  padding-bottom: 20px;
  margin-left: 12%;
  margin-right: 12%;
}
.faq-sub-section .faq-sub-header{
	font-size: 2.2em;
	padding-top: 30px;
	margin-top: 0;
	text-align: center;
	padding-bottom: 10px;
	font-family: "NotoSansRegular";

}
.faq-header-container {
	text-align: center;
	padding-top: 20px;
}
.faq-header-container.mobile-header {
	padding-top:70px;
	padding-bottom: 0px;
}
.q-and-a-box {
	padding-top: 20px;
}
.q-and-a-box .q-and-a {
	color: #22313F;
}
.no-bullet {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.getPaid {
	margin-bottom: 20px;
}
.q-and-a-bullet-normal{
	background: url(../images/pathsIcon_red.jpg) no-repeat left;
	padding-left: 58px;
}
.q-and-a-bullet-cash{
	background: url(../images/transactions.svg) no-repeat left;
	padding-left: 58px;
	background-size: 25px 25px;
}
.q-and-a-bullet-scroll{
	background: url(../images/scroll.svg) no-repeat left;
	padding-left: 58px;
	background-size: 25px 25px;
}
.q-and-a-bullet-path{
	background: url(../images/composePath.svg) no-repeat left;
	padding-left: 58px;
	background-size: 25px 25px;
}

.answer {
	font-size: 1.2em;
	line-height: 1.4;
	margin-top: 0;
	padding-top: 10px;
	padding-left: 60px;
	padding-bottom: 20px;
}
.paragraph {
	margin-bottom: 10px;
	margin-top: 0;	
	padding-bottom: 0;
}
.paragraph.paragraph2 {
	padding-top: 0;
	padding-bottom: 20px;

}
@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	.q-and-a-bullet-normal{
		background: url(../images/pathsIcon_red.jpg) no-repeat left;
		padding-left: 50px;
	}
	.q-and-a-bullet-cash{
		background: url(../images/transactions.svg) no-repeat left;
		padding-left: 50px;
		background-size: 25px 25px;
	}
	.q-and-a-bullet-scroll{
		background: url(../images/scroll.svg) no-repeat left;
		padding-left: 50px;
		background-size: 25px 25px;
	}
	.q-and-a-bullet-path{
		background: url(../images/composePathSmaller.svg) no-repeat left;
		padding-left: 50px;
		background-size: 25px 25px;
	}

	li .question {
		font-weight: 500;
		margin-bottom: 8px;
		display: inline;
		font-size: 22px;
		padding-top: 10px;
	}
	.faq-sub-section .faq-sub-header{
		font-size: 1.8em;
		padding-top: 20px;
		padding-bottom: 10px;
		margin-top: 0;
		text-align: center;
	}
	.answer {
		font-size: 1em;
		padding-left: 50px;
		padding-bottom: 10px;
	}
	.faq-sub-section {
		padding-bottom: 0px;
		margin-left: 5%;
		margin-right: 5%;
	}
	#footer {
		  padding-top: 15px;

	}

}
.no-cuts {
	display: inline;
}
.other-stuff{
	display: inline;
}
.q-and-a-text{ 
	display: inline-block;	
}
.q-and-image {
	display: inline-block;
}

.question {
	font-weight: 500;
	display: inline;
	font-size: 25px;
}

/*iphone5*/
@media screen and (device-aspect-ratio: 40/71) {
	.q-and-a .answer {
		padding-right: 0;
		font-size: 1.2em;
	}
	.q-and-a {
		padding: 0;
	}
	#contact-boxes {
	  max-width: 960px;
	  width: auto;
	  padding-bottom: 20px;
	  padding-top: 30px;
	}
	.cover {
	  	background-size: cover;
		height: 10%!important;
		/*min-height: 500px!important;*/
		min-height: 600px!important;
	}
	.box {
		background: none;
	}
	#footer {
		padding-top: 25px;
	}
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	.q-and-a .answer {
		padding-right: 0;
		font-size: 1.2em;
	}
	.q-and-a {
		padding: 0;
	}
	#contact-boxes {
	  max-width: 960px;
	  width: auto;
	  padding-bottom: 20px;
	  padding-top: 30px;
	}
}

/*----------End-----------*/

/*-------Terms CSS--------*/
.padding-container {
	padding-top: 15px;
}
.terms-header{
	font-size: 2.5em;
	font-weight: bold!important;
}
.terms-sub-header{
	padding-top: 10px;
	text-decoration: underline;
	font-weight: bold;
	color: black;
}
.terms-section {
	font-size: 1.2em;
}
.company-name {
	font-weight: bold;
}
.terms-footer {
	line-height: .5;
	padding-top: 15px;
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	.terms-footer {
	  line-height: inherit;
	  padding-top: 15px;
	}
	.bottom-buttons .app-buttons {
		text-align: center;
	    padding-top: 35px!important;
	    padding-bottom: 0px;
	}
	  
}

/*----------End-----------*/


/*------SignUp CSS--------*/

.read-terms .cb {
	margin: 0;
}
.cbnext {
	margin-bottom: 0;
	margin-left: 10px;
	display: inline-block;
}

.read-terms {
	padding-top: 10px;
	padding-left: 67px;
	padding-bottom: 20px;
}

.submit-button {
	color: white!important;
	background-color: rgb(205,51,51)!important;
	width: 190px;
}

.invalid-form:focus {
  color: #b94a48;
  border-color: #e9322d!important;
}
.pure-control-group input {
	text-align: center;
	display: block;
	margin: auto;
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	#other-cover {
		margin-top: 15%;
	}
	.no-transition {
	  -webkit-transition: height 0.01s!important;
	  -moz-transition: height 0.01s!important;
	  -ms-transition: height 0.01s!important;
	  -o-transition: height 0.01s!important;
	  transition: height 0.01s!important;
	}
	.contact-main-head {
		font-weight: 700;
	    color: black;
	    font-size: 3.3em;
	}
	.contact-sub-head {
		  font-weight: 300;
		  color: #4a4a4a;
		  padding-bottom: 5px;
		  line-height: 1.35;
		  font-size: 1.3em;
		  padding-top: 10px;
	}
	.terms-footer {
		line-height: 1!important;
		padding-top: 15px;
	}
}
/*------TEMPLOG CSS-------*/

.cover .headerText .temp-log.sub-sub-header {
	color: #34495E;
	font-size: 1.5em;
}
.headerText .contact-card.app-buttons {
	padding-top: 30px;
	padding-bottom: 0;
}
.inverted-logo {
	background-color: rgba(0,0,0,0);
	padding-top: 20px;
}

/*----------End-----------*/

.b-close{
    border-radius: 7px 7px 7px 7px;
	box-shadow: none;
	font: bold 131% sans-serif;
	padding: 0 6px 2px;
	position: absolute;
	right: -7px;
	top: -7px;
	color: #fff;
  	cursor: pointer;
  	display: inline-block;
  	text-align: center;
  	text-decoration: none;
  	background-color: rgb(205,51,51);
}

#element_to_pop_up { 
    background-color:#fff;
  	border-radius: 10px 10px 10px 10px;
  	box-shadow: 0 0 25px 5px #999;
  	min-width: 350px;
  	padding: 25px;
    color:#000;
    display:none; 
    padding:20px;
    min-height: 180px;
    text-align:center;
}
#element_to_pop_up ul {
	text-align: left;
}
#element_to_pop_up li {
	/*padding-top: 10px;*/
}
.remove-padding-all {
	padding: 0;
}
#element_to_pop_up .header {
	margin-top: 0;
}
.larger {
	font-size: 2em;
	margin-bottom: 0;
}
.bottom-buttons .app-buttons {
	text-align: center;
	padding-top: 35px;
  	padding-bottom: 0px;

}

/*--------Mobile CSS-----------*/

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	h1 {
		font-size: 1.3em!important;
	}
	.role-title {
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 0;
	}
	.remove-padding {
		margin-top: 0!important;
		margin-bottom: 0!important;
	}
	.steps.remove-padding {
		margin-top: 10px!important;
		margin-bottom: 10px!important;
	}
	.steps h2 {
		font-size: 1em;
		margin-top: 10px;
	}
	.steps p {
		font-size: .7em;
		margin-left: 10%;
		margin-right: 10%;
	}
	.process-container {
		padding-top: 0;
	}

	.contact-main-head {
		font-size: 2.5em;
	}
	.contact-info .contact-name {
		font-size: 1.4em;
	}
	#page-header {
		padding-top: 80px;
	}
	.terms-section {
	  font-size: 1em;
	  margin-left: 10px;
	  margin-right: 10px;
	}
	.diamond-phone {
		margin-bottom: 10px!important;
	}
	.diamond-title {
		margin-top: 20px!important;
	}
	.diamond-phone-bottom {
		margin-top: 10px!important;
	}
	.diamond-title-bottom {
		margin-bottom: 20px!important;
	}
	.header {
		padding-bottom: 0px;
	}
	.no-cuts-mobile {
		margin-top: 0;
	}
	.other-stuff {
		margin-top: 10px;
	}

	#element_to_pop_up { 
	    background-color:#fff;
	  	border-radius: 10px 10px 10px 10px;
	  	box-shadow: 0 0 25px 5px #999;
	  	width: 330px;
	  	padding: 25px;
	    color:#000;
	    display:none; 
	    padding:15px;
	    min-height: 180px;
	    text-align:center;
	}
	#element_to_pop_up .app-buttons {
		padding-top: 0px!important;
	}
	#element_to_pop_up li {
		padding-bottom: 8px;
	}
}


