@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');
@import url('fonts.css');


/*-------Global Classes--------*/
* {
	font-family: 'lane_narrowregular';
	color: white;
}

#footer {
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;
}
.copyright {
	color: #34495E;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.symbol {
    padding: 0;
    opacity: 0;
    border: none;
    border: thin double white;
    color: white;
    text-align: center;
    margin-left: 11%;
    margin-right: 11%;

}

hr.symbol:after {
	content: '•';
	display: inline;
	position: relative;
	top: -.69em;
	font-size: 2em;
	padding: 0 5px;
	/*background-color: rgb(205,51,51);*/
}

.center {
    position: absolute;
	width: 100%;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.text-center {
	text-align: center;
}

.box {
	width: 100%;
	position: absolute;
	margin-top: 5%;
}

.cover {
  	background-size: cover;
	height: 82%;
	min-height: 650px;
}
.red {
	background-color: rgb(205,51,51);
}
.white {
	background-color: #F9F9F9;
}
.darkwhite {
	background-color: #F4F5F5;
}

#page-wrapper {
	height: 100vh;
}
.fullpage {
	height: 100vh;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
/*----------End-----------*/

/*-------NavBar CSS-------*/

#nav-box {
	margin: 0 3%;
	height: 100%;
}

.navbar {
	background: none;
	border: none;
	height: 60px;
	position: absolute;
	width: 100%;
	margin: 0;
	border-radius: 0;
	z-index: 100;
}

.navbar-header {
	height: 100%;
}

.navbar .navbar-brand {
  background: url(/images/corner-logo.jpg) center no-repeat;
  background-size: 100%;
  width: auto;
  margin: 0;
  height: 100%;
  min-width: 60px;
}

.nav-item {
	padding: 0 8px;
	height: 100%;
}

.nav-item a.underline:hover {
	border-bottom: 2px solid white;
}

.navbar #myNav .nav-item a {
	color: white;
	font-size: 1.2em;
	padding-top: 20px;
	padding-bottom: 8px;
	margin: 0 5px;
  	padding-left: 0;
  	padding-right: 0;
}

#other-nav.navbar {
	background-color: rgb(205,51,51);
	position: inherit;
}

.navbar #myNav .signup{
	border: 2px solid white;
	color: white;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.navbar #myNav .signup a{
	padding-top: 10px;
}
.signup:hover {
	background-color: #22313F!important;
	border: 2px solid #22313F;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
/*----------End-----------*/

/*-------Index CSS--------*/

.box .logo {
	height: 30vh;
	position: relative;
	width: auto;
	display:block;
	margin: auto;
	opacity: 0;
	min-height: 200px;
}


.headerText {
	display:block;
	text-align: center;

}

.headerText h1 {
	margin-top:-15px;
	margin-bottom: 2%;
}

.main-header {
	margin-top: 0;
	text-align: center;
	font-size: 4em;
	margin-bottom: 5px;
	opacity: 0;
}

.sub-header {
	font-size: 4.2em;
	margin-bottom: 1%;
	opacity: 0;
	margin-top: 25px;
}

.sub-sub-header {
	font-size: 2.5em;
	opacity: 0;
}

.app-buttons {
	opacity: 0;
	padding-top: 30px;
}

.download-button {
	display: inline-block;
}
a.svg:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
a.svg {
  position: relative;
  display: inline-block;
}
.android {
	padding-bottom: 31px;
    margin-left: 50px;
}
/*----------End-----------*/

/*-----Content CSS--------*/

#process {
	padding-top: 10px;
}

.header {
	text-align: center;
	color: #22313F;
	font-weight: bold;
	padding-bottom: 20px;
}

.example-image img{
	width: 100%;
	display: block;
	margin: auto;
}

.steps {
	padding-bottom: 20px;
	width: 75%;
}

.steps h2{
	color: #34495E;
	text-align: center;
	margin-top: 10px;
	font-size: 2em;
}

.steps p {
	font-size: 1.2em;
	text-align: center;
	color: #67809F;
}


@media(max-width: 1175px) {
	.steps h2{
		color: #34495E;
		text-align: center;
		margin-top: 10px;
		font-size: 1.6em;
	}

	.steps p {
		font-size: 1em;
		text-align: center;
		color: #67809F;
	}
}
@media(max-width: 992px) {
	.example-image img{
		width: 55%;
		display: block;
		margin: auto;
	}
	.steps h2{
		color: #34495E;
		text-align: center;
		margin-top: 30px;
		font-size: 2em;
	}

	.steps p {
		font-size: 1.2em;
		text-align: center;
		color: #67809F;
	}
}
/*----------End-----------*/

/*--------Next CSS--------*/

#next {
	background-color: rgb(205,51,51);
	height: 100vh;
}

/*----------End-----------*/

/*-------Mobile CSS-------*/

@media(max-width: 767px) {
	#nav-box {
		margin: 0 2%!important;
	}
	.navbar-nav {
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		background-color: rgba(0,0,0,0.2);
		padding: 0;
		margin-top: 0;
	}
	.navbar-nav:hover {
		background-color: rgba(0,0,0,0.7);
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.box {
		margin-top: 20%!important;
	}
	.cover {
	  	background-size: cover;
		height: 10%!important;
		min-height: 600px!important;
		/*min-height: 600px!important;*/
	}
	.cover .box .logo {
		height: 10vh;
		position: relative;
		width: auto;
		display:block;
		margin: auto;
		opacity: 0;
		min-height: 150px;
	}
	.main-header {
		margin-top: 0;
		text-align: center;
		font-size: 3em!important;
		margin-bottom: 5px;
		opacity: 0;
	}

	.sub-header {
		font-size: 2em!important;
		margin-bottom: 1%;
		opacity: 0;
		margin-top: 25px;
	}

	.sub-sub-header {
		font-size: 1.5em!important;
		opacity: 0;
	}
	.headerText .app-buttons {
		padding-top: 16px!important;
	}
	.download-button.apple {
		height: 35px;
	}
	.download-button.android {
		height: 68px;
	}
	hr.symbol:after {
		content: '•';
		display: inline;
		position: relative;
		top: -.67em;
		font-size: 2em;
		padding: 0 5px;
		/*background-color: rgb(205,51,51);*/
	}
	.example-image img{
		width: 100%;
		display: block;
		margin: auto;
	}
}


@media(max-width: 1136px) {
	.box {
		width: 100%;
		position: absolute;
		margin-top: 6%;
		padding-top: 5px;
	}
	.cover {
	  	background-size: cover;
		height: 80%;
		min-height: 700px;
	}

}
@media(max-width: 768px) {
	.box {
		width: 100%;
		position: absolute;
		margin-top: 10%;
		padding-top: 5px;
	}
	.cover {
	  	background-size: cover;
		height: 80%;
		min-height: 750px;
	}
} 
@media(max-width: 605px) {
	.cover {
	  	background-size: cover;
		height: 80%;
		min-height: 850px;
	}
	.box {
		width: 100%;
		position: absolute;
		margin-top: 15%;
	}
	.app-buttons {
		padding-top: 10px!important;
	}

}
@media(max-width: 425px) {
	.cover {
	  	background-size: cover;
		height: 70%;
		min-height: 875px;
	}
	.box {
		width: 100%;
		position: absolute;
		margin-top: 10%;
	}
	.app-buttons {
		padding-top: 0!important;
	}
}
@media(max-width: 357px) {

	.box {
		width: 100%;
		position: absolute;
		margin-top: 10%;
	}
	.app-buttons {
		padding-top: 0!important;
	}
}
/*----------End-----------*/

/*------Contact CSS-------*/

#contact-header {
	width: 100%;
	position: absolute;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;

}
.contact-main-head {
	font-weight: 700;
    color: black;
    font-size: 30px;
}
.contact-sub-head {
	  font-weight: 300;
	  color: #4a4a4a;
	  padding-bottom: 5px;
	  line-height: 1.35;
	  font-size: 1.15em;
	  padding-top: 10px;
}
