@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');
@import url('fonts.css');


/*-------Global Classes--------*/
* {
	font-family: 'lh_line1_sansthin';

}
ul {
	list-style: none;
}
.contact-info .octicon {
	font-size: 1.5em;
	color: rgb(205,51,51);
	padding-right: 10px;
	position:absolute;
}
.inline {
	display: inline;

}
.relative {
	position: relative!important;
}
.container-no-padding {
	padding-left: 0;
	padding-right: 0;
}
html, body {
	margin:0;
	padding:0;
	height:100%;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: height 0.35s ease 1s linear;
  -moz-transition: height 0.35s ease 1s linear;
  -o-transition: height 0.35s ease 1s linear;
  -ms-transition: height 0.35s ease 1s linear;
  transition: height 0.35s ease 1s linear;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.navbar-toggle {
	margin-top: 12px;
}
#page-header {
	width: 100%;
	position: inherit;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	color: #22313F;
	font-weight: 600;

}

#wrapper {
	position:relative;
	width: 100%;
	min-height: 100%;
}

#content {
	padding-bottom: 128px;
}
/*-------Footer CSS--------*/

#footer {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px solid #eaeaea;
	background: #F9F9F9;
	overflow: auto;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer-nav {
	color: #a8a8a8;
	text-align: center;
	padding: 8px 0;
}

.footer-nav a {
	color: #a8a8a8;
	font-size: 1em;
}

.footer-nav a:hover {
	color: gray;
}

.footer-copyright {
	color: #a8a8a8;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 8px 0;
	margin: 0;

}

.footer-copyright p {
	padding: 0;
	margin: 0;
}

.footer-social a {
	color: #a8a8a8;
	font-size: 1.75em;
	margin: 15px;
}
.footer-social a:hover {
	color: gray;
}
.footer-social {
	text-align: center;
}
/*----------End------------*/



.symbol {
    padding: 0;
    border: none;
    border: thin double white;
    color: white;
    text-align: center;
    margin-left: 11%;
    margin-right: 11%;

}
.roundify {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}



hr.symbol:after {
	content: '•';
	display: inline;
	position: relative;
	top: -.69em;
	font-size: 2em;
	padding: 0 5px;
	/*background-color: rgb(205,51,51);*/
}

.center {
    position: absolute;
	width: 100%;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.text-center {
	text-align: center;
}

.box {
	width: 100%;
	padding-top: 70px;
	/*background-color: rgba(0,0,0,.2);*/
	min-height: 600px;
}

.cover {
	background: no-repeat left top url(../images/background-image.JPG);
  	background-size: cover;
	height: 82%;
	min-height: 600px;
	color: white;
	/*background-color: rgba(0,0,0,.5);*/
}
#other-cover {
	color: black;
}
.red {
	background-color: rgb(205,51,51)!important;
}
.diamonds {
	background: top left no-repeat url(../images/background-image.JPG);
	background-size: cover;
}
.white {
	background-color: #F9F9F9;
}
.darkwhite {
	background-color: #F9F9F9;
}

.fullpage {
	height: 100vh;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
/*----------End-----------*/

/*-------NavBar CSS-------*/

#nav-box {
	margin-left: 3%;
	margin-right: 1%;
	height: 100%;
}

.navbar {
	border: none;
	height: 60px;
	width: 100%;
	margin: 0;
	border-radius: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0);
	position: absolute;
}

.navbar-header {
	height: 100%;
}

.navbar .navbar-brand {
  background: url(../images/all-white-corner-logo.png) center no-repeat;
  background-size: 100%;
  width: auto;
  margin: 0;
  height: 100%;
  min-width: 60px;
}
.navbar .navbar-brand.white {
  background: url(../images/all-white-corner-logo.png) center no-repeat;
  background-size: 100%;
  width: auto;
  margin: 0;
  height: 100%;
  min-width: 60px;
}

.nav-item {
	 /*8px*/
	padding: 0;
	height: 100%;
}

.nav-item a.underline:hover {
	border-bottom: 2px solid white;
}

.navbar #myNav .nav-item a {
	color: white;
	font-size: 1em;
	padding-top: 20px;
	padding-bottom: 2px;
	margin: 0 5px;
  	padding-left: 3px;
 	padding-right: 3px;

}

#other-nav.navbar {
	position: absolute;
	background: none;

}

.navbar #myNav .signup{
	border: 2px solid white;
	color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.navbar #myNav .signup a{
	padding: 8px 2px;
}
.signup:hover {
	background-color: #22313F!important;
	border: 2px solid #22313F;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
/*----------End-----------*/

/*-------Index CSS--------*/

.box .logo {
	height: 30vh;
	position: relative;
	width: auto;
	display:block;
	margin: auto;
	min-height: 200px;
	max-height: 210px;
	/*z-index: 100;*/
}


.headerText {
	display:block;
	text-align: center;
    font-family: 'lh_line1_sansthin'!important;
}

.headerText h1 {
	margin-top:-15px;
	margin-bottom: 2%;
}

.main-header {
	margin-top: 0;
	text-align: center;
	font-size: 4em;
	margin-bottom: 5px;
}

.sub-header {
	font-size: 3.5em;
	margin-bottom: 1%;
	margin-top: 25px;
}

.sub-sub-header {
	font-size: 2.35em;
}

.app-buttons {
	padding-top: 50px;
}

.download-button {
	display: inline-block;
}
a.svg:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
a.svg {
  position: relative;
  display: inline-block;
}
.android {
	padding-bottom: 31px;
    margin-left: 50px;
    width: auto;
  	height: 90px;
}
.apple {
	padding-bottom: 31px;
	height: 86px;
  	width: auto;
}
/*----------End-----------*/

/*-----Content CSS--------*/
#particles-js {
	position: absolute;
	left: 0;
	/*background:  rgb(205,51,51);*/
	background: no-repeat left top url(../images/background-image.JPG);
  	background-size: cover;
  	height: 50%;
  	width: 100%;
  	max-height: 650px;
	top: 0;
	z-index: 0;
	padding-bottom: 20px;
}
@media (max-width: 1168px) {
	#particles-js {
		max-height: 700px;
	}
}
@media (max-width: 768px) {
	#particles-js {
		max-height: 750px;
	}
}
@media (max-width: 637px) {
	#particles-js {
		max-height: 750px;
	}
}
@media (max-width: 605px) {
	#particles-js {
		max-height: 760px;
	}
}
@media (max-width: 425px) {
	#particles-js {
		max-height: 840px;
	}
}
#process {
	padding-top: 10px;
}
.remove-padding {
	padding-left: 0;
	padding-right: 0;
}
.example-image {
	width: 100%;
	max-width: 332px;
	margin-left:auto;
	margin-right:auto;
}
.header {
	text-align: center;
	color: #22313F;
	font-weight: bold;
	padding-bottom: 20px;
	font-size: 1.3em;
}
.step-text {
	padding-left: 45px;
	padding-right: 45px;
}
.diamonds.steps {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.diamonds.steps  h2,
.diamonds.steps  p {
	color: white;
	padding-right:0;
	padding-left:0;
}
.steps {
	margin-bottom: 30px;
	width: 100%;
}
.steps h1 {
	color: #22313F;
	font-weight: bold;
	text-align: left;
}
.steps h2{
	color: #34495E;
	text-align: left;
	margin-top: 10px;
	font-size: 1.9em;
}
.steps p {
	font-size: 1.2em;
	text-align: left;
	color: #67809F;
}
.border-image {
	border-left: 1px solid #eaeaea;
}

@media(max-width: 1175px) {
	.steps h2{
		color: #34495E;
		text-align: left;
		margin-top: 10px;
		font-size: 1.6em;
	}

	.steps p {
		font-size: 1em;
		text-align: left;
		color: #67809F;
	}
}
@media(max-width: 991px) {
	.example-image img{
		width: 65%;
		display: block;
		margin: auto;
	}
	.border-image {
		border-left: none;
	}
	.steps h2{
		color: #34495E;
		text-align: left;
		margin-top: 30px;
		font-size: 2em;
	}

	.steps p {
		font-size: 1.2em;
		text-align: left;
		color: #67809F;
	}
}
/*----------End-----------*/

/*--------Next CSS--------*/

#next {
	background-color: rgb(205,51,51);
	height: 100vh;
}

/*----------End-----------*/

/*-------Mobile CSS-------*/

@media(max-width: 767px) {
	#nav-box {
		margin: 0 2%!important;
	}
	.navbar-nav {
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		background-color: rgba(0,0,0,0.7);
		padding: 0;
		margin-top: 0;
	}
	.navbar-nav:hover {
		background-color: rgba(0,0,0,0.9);
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
	}
	.nav-item a.underline:hover {
		border-bottom: none;
	}
	.nav-item a:hover {
		color: gray!important;
	}
	.box .logo {
		z-index: 0;
	}
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px){
	.contact-card img {
		height: 60px;
		vertical-align: middle;
	}
	.nav-item a.underline:hover {
		border-bottom: none;
	}
	.nav-item a:hover {
		color: gray!important;
	}
	.navbar-nav {
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		background-color: rgba(0,0,0,0.7);
		padding: 0;
		margin-top: 0;
	}

	.cover {
	  	background-size: cover;
		height: 10%!important;
		min-height: 500px!important;
		/*min-height: 600px!important;*/
	}
	.box {
		width: 100%;
		padding-top: 0;
		background: none;
		min-height: 500px!important;
	}
	#particles-js {
		position: absolute;
		left: 0;
		background:  rgb(205,51,51);
	  	height: 50%;
	  	width: 100%;
	  	max-height: 540px;
		top: 0;
		z-index: 0;
	}
	.cover .box .logo {
		height: 10vh;
		position: relative;
		width: auto;
		display:block;
		margin: auto;
		min-height: 150px;
	}
	.main-header {
		margin-top: 0;
		text-align: center;
		font-size: 3em!important;
		margin-bottom: 5px;
	}

	.sub-header {
		font-size: 2em!important;
		margin-bottom: 1%;
		margin-top: 25px;
	}

	.sub-sub-header {
		font-size: 1.5em!important;
		/*opacity: */0;
	}
	.headerText .app-buttons {
		padding-top: 16px!important;
	}
	.download-button.apple {
		height: 69px;
	}
	.download-button.android {
		height: 68px;
	}
	hr.symbol:after {
		content: '•';
		display: inline;
		position: relative;
		top: -0.697em;
		font-size: 2em;
		padding: 0 5px;
		/*background-color: rgb(205,51,51);*/
	}
	.example-image img{
		width: 100%;
		display: block;
		margin: auto;
	}
}

@media screen and (device-aspect-ratio: 40/71) {
	.contact-main-head {
		font-weight: 700;
		color: black;
		font-size: 2.3em!important;
	}

	.contact-card img {
		height: 50px!important;
		vertical-align: middle;
	}
	.contact-card a {
	  font-size: 15px!important;
	  margin-bottom: 4px;
	  display: block;
	}
	#contact-boxes .contact-card-text p {
		font-size: 18px;
	}
	.contact-sub-head {
		font-weight: 300;
		color: #4a4a4a;
		padding-bottom: 5px;
		line-height: 1.35;
		font-size: .9em!important;
		padding-top: 10px;
	}
	#contact-header {
		width: 100%;
		position: inherit;
		padding-top: 30px!important;
		padding-bottom: 35px!important;
		border-bottom: 1px solid #eaeaea;
		border-top: 1px solid #eaeaea;
	}
	#faq-link {
	    font-size: 1.2em!important;
	    padding-top: 20px;
	}
	#footer {
		font-size:12px!important;
	}
	.terms-footer {
		line-height: 1!important;
		padding-top: 15px;
	}
	#particles-js {
		position: absolute;
		left: 0;
		background:  rgb(205,51,51);
	  	height: 50%;
	  	width: 100%;
	  	max-height: 600px;
		top: 0;
		z-index: 0;
	}
}


@media(max-width: 1136px) {
	.box {
		width: 100%;
		padding-top: 70px;
		/*background-color: rgba(0,0,0,.2);*/
		min-height: 700px;
	}
	.cover {
	  	background-size: cover;
		height: 80%;
		min-height: 700px;
	}

}
@media(max-width: 768px) {
	.box {
		width: 100%;
		padding-top: 70px;
		/*background-color: rgba(0,0,0,.2);*/
		min-height: 750px;
	}
	.cover {
	  	background-size: cover;
		height: 80%;
		min-height: 750px;
	}
} 
@media(max-width: 605px) {
	.cover {
	  	background-size: cover;
		height: 80%;
		min-height: 700px;
	}
	.box {
		width: 100%;
		padding-top: 70px;
		/*background-color: rgba(0,0,0,.2);*/
		min-height: 700px;
	}
	.app-buttons {
		padding-top: 20px!important;
	}

}
@media(max-width: 425px) {
	.cover {
	  	background-size: cover;
		height: 70%;
		min-height: 700px;
	}
	.box {
		width: 100%;
		padding-top: 70px;
		/*background-color: rgba(0,0,0,.2);*/
		min-height: 700px;
	}

}
@media(max-width: 452px) {
	.apple {
		height: 70px;
	}
	.android {
		height: 75px;
	}

}
@media(max-width: 357px) {

	.box {
		width: 100%;
		position: absolute;
		/*margin-top: 10%;*/
	}
	.app-buttons {
		padding-top: 0!important;
	}
}

/*----------End-----------*/

/*------Contact CSS-------*/
.contact-collection {
	display:block;
	margin: auto;
}
.marginauto {
	margin-left: auto;
	margin-right: auto;
}
.contact-info {
	padding-top: 15px;
	padding-bottom: 15px;
}
.contact-info .contact-name {
	font-size: 1.5em;
	padding-left: 20px;
} 
.contact-info .info-list .info-item a {
	font-size: .9em;
}
.info-list {
	margin-top: 5px;
	padding-left: 20px;
}
.info-item {
	padding-left: 30px;
}
#contact-header {
	width: 100%;
	position: inherit;
	padding-top: 40px;
  	padding-bottom: 45px;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
}

.contact-main-head {
	font-weight: 700;
    color: black;
    font-size: 3.3em;
}
.contact-sub-head {
	  font-weight: 300;
	  color: #4a4a4a;
	  padding-bottom: 5px;
	  line-height: 1.35;
	  font-size: 1.3em;
	  padding-top: 10px;
}
.social-media {
	text-align: center;
	font-size: 2.3em;
}
.social-media a i {
	margin: 0 15px;
	color: gray; 
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.social-media a i:hover {
	color: #6C7A89; 
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
#contact-boxes {
	max-width: 960px;
	width: auto;
	padding-bottom: 70px;
	padding-top: 30px;
}

.contact-card {
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fffdfd;
    border: 1px solid #d8d8d8;
}

.contact-card img {
	height: 70px;
	vertical-align: middle;
}

.contact-card-text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 13px;
}

@media(max-width: 885px) {
	.contact-card a {
		font-size: 20px;
 	}
}
#contact-boxes a {
	color: #d8433d;
}
#contact-boxes .contact-card a {
	font-weight: 500;
	font-family: 'lane_narrowregular'!important
}
#faq-link {
	font-size: 1.5em;
	padding-top: 20px;
}
#contact-boxes p {
	color: black;
	font-family: 'lane_narrowregular'!important
}
#contact-boxes .contact-card-text p {
	font-weight: 500;
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	.contact-card img {
		height: 60px;
		vertical-align: middle;
	}
	.contact-card a {
		font-size: 19px;
 	}
}

/*----------End-----------*/

/*--------FAQ CSS--------*/
.q-and-a-box {
	padding-bottom: 20px;
	padding-top: 20px;
}
.q-and-a-box .q-and-a {
	color: #22313F;
}
.no-bullet {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.q-and-a-bullet{
	background: url(../images/bullet-logo.png) no-repeat left;
	padding-left: 58px;
}
.q-and-a-text{ 
	display: inline-block;	
}
.q-and-image {
	display: inline-block;
}

.question {
	font-weight: 500;
	margin-bottom: 8px;
	display: inline;
	font-size: 25px;
	padding-top: 10px;
}

.answer {
	font-size: 1.1em;
	line-height: 1.2;
	margin-top: 0;
	padding-top: 10px;
	padding-left: 56px;
}

/*iphone5*/
@media screen and (device-aspect-ratio: 40/71) {
	.q-and-a .answer {
		padding-right: 0;
		font-size: 1.2em;
	}
	.q-and-a {
		padding: 0;
	}
	#contact-boxes {
	  max-width: 960px;
	  width: auto;
	  padding-bottom: 20px;
	  padding-top: 30px;
	}
	.cover {
	  	background-size: cover;
		height: 10%!important;
		/*min-height: 500px!important;*/
		min-height: 600px!important;
	}
	.box {
		background: none;
	}
	#footer {
		padding-top: 21px;
	}
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	.q-and-a .answer {
		padding-right: 0;
		font-size: 1.2em;
	}
	.q-and-a {
		padding: 0;
	}
	#contact-boxes {
	  max-width: 960px;
	  width: auto;
	  padding-bottom: 20px;
	  padding-top: 30px;
	}
}

/*----------End-----------*/

/*-------Terms CSS--------*/
.padding-container {
	padding-top: 15px;
}
.terms-header{
	font-size: 2.5em;
	font-weight: bold!important;
}
.terms-sub-header{
	padding-top: 10px;
	text-decoration: underline;
	font-weight: bold;
	color: black;
}
.terms-section {
	font-size: 1.2em;
}
.company-name {
	font-weight: bold;
}
.terms-footer {
	line-height: .5;
	padding-top: 15px;
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	.terms-footer {
	  line-height: inherit;
	  padding-top: 15px;
	}
}

/*----------End-----------*/


/*------SignUp CSS--------*/

.read-terms .cb {
	margin: 0;
}
.cbnext {
	margin-bottom: 0;
	margin-left: 10px;
	display: inline-block;
}

.read-terms {
	padding-top: 10px;
	padding-left: 67px;
	padding-bottom: 20px;
}

.submit-button {
	color: white!important;
	background-color: rgb(205,51,51)!important;
	width: 190px;
}

.invalid-form:focus {
  color: #b94a48;
  border-color: #e9322d!important;
}
.pure-control-group input {
	text-align: center;
	display: block;
	margin: auto;
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
	#other-cover {
		margin-top: 15%;
	}
	.no-transition {
	  -webkit-transition: height 0.01s!important;
	  -moz-transition: height 0.01s!important;
	  -ms-transition: height 0.01s!important;
	  -o-transition: height 0.01s!important;
	  transition: height 0.01s!important;
	}
	.contact-main-head {
		font-weight: 700;
	    color: black;
	    font-size: 3.3em;
	}
	.contact-sub-head {
		  font-weight: 300;
		  color: #4a4a4a;
		  padding-bottom: 5px;
		  line-height: 1.35;
		  font-size: 1.3em;
		  padding-top: 10px;
	}
	.terms-footer {
		line-height: 1!important;
		padding-top: 15px;
	}
}
/*------TEMPLOG CSS-------*/

.cover .headerText .temp-log.sub-sub-header {
	color: #34495E;
	font-size: 1.5em;
}
.headerText .contact-card.app-buttons {
	padding-top: 30px;
	padding-bottom: 0;
}
.inverted-logo {
	margin-top: 5%;
	background-color: rgba(0,0,0,0);
	padding-top: 20px;
}

/*----------End-----------*/
